section {
	overflow: hidden;
	width: 100%;
	z-index: 3;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

#cc1 {
	background-color: #2E4E56;
}

#cc1 .margen {
	height: 400px;
	background-repeat: no-repeat;
	background-position: 50% 67%;
	background-image: url('../assets/img/materiales/cantosycuentos/cantosycuentos.png');

}

.columna {
	width: 49%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	color: #8f5a17 !important;
}

.columna h3 {
	margin: 0;
	font-weight: normal;
	font-family: inherit;
	font-size: 22px;
}

.columna p {
	margin: 0;
	color: #6A5A4D
}

.estados {
	color: #937257 !important;
}


.columna li {
	padding-left: 22px;
	background-position: 0 8px;
	background-repeat: no-repeat;
	width: 90%;
}

.columna img {
	width: 50px;
	margin: -8px 10px;
}

.columna a {
	color: #d95d41;
}

.columna .titulo {
	height: 25px;
	width: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.cantos .titulo {
	background-image: url('../assets/img/materiales/cantosycuentos/cantos.png');
}

.cuentos .titulo {
	background-image: url('../assets/img/materiales/cantosycuentos/cuentos.png');
}

.cantos li {
	background-image: url('../assets/img/materiales/cantosycuentos/1.png');
}

.cuentos li {
	background-image: url('../assets/img/materiales/cantosycuentos/2.png');
}

#enlace {
	background-image: url("../assets/img/materiales/cantosycuentos/elllamado.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: fixed;
	width: 125px;
	height: 106px;
	top: 420px;
	right: 390px;
	z-index: 9999;
	margin: -375px;
	cursor: pointer;
}


#enlace:hover {
	background-position: -124px 0px;
}

#cc2 {
	background-color: #c9c1aa;
	color: #fff;
	position: relative;
}


#cc3 {
	background-color: #e1dcca;
	color: #7a7054;
	position: relative;
}

section ul {
	margin: 0 auto;
	padding: 0;
	margin: 0;
	margin-bottom: 150px;
}

section ul li {
	width: 200px;
	overflow: visible;
	display: inline-block;
	margin: 20px 15px;
	vertical-align: top;
}

.megatitle {
	height: 50px;
	width: 250px;
	margin: 50px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
}

#ganadores {
	background-image: url('../assets/img/materiales/cantosycuentos/ganadores.png');
}

#honorifica {
	background-image: url('../assets/img/materiales/cantosycuentos/menciones.png');
}

.semifooter {
	text-align: center;
}

.semifooter .logos {
	height: 95px;
	width: 320px;
	background-repeat: no-repeat;
	background-image: url("../assets/img/materiales/cantosycuentos/logotiposcantos.png");
	margin: 12px auto;
	background-size: auto 100%;
}
