body {
	background-color: #15774E;
}

section {
	overflow: hidden;
	width: 100%;
	z-index: 3;
	box-shadow: 0px -11px 10px rgba(0, 0, 0, 0.2);
}

.margen {
	z-index: 4;
	box-sizing: border-box;
}


h3 {
	color: #af6400;
}

#modal {
	display: none;
	width: 900px;
	height: 430px;
	top: 30%;
	left: 15%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
	position: fixed;

}

.back {
	width: 40px;
	height: 40px;
	background-image: url("../assets/img/iconoscerrar.png");
	background-size: auto 100%;
	z-index: 10;
	right: -8px;
	position: absolute;
	top: -9px;
	cursor: pointer;
}


#web1 {
	height: 390px;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-color: #2f7a89;
	background-image: url('../assets/img/materiales/consumo/titulo.png');
}

.textocolor {
	color: #5e050a;
}

#web2 {
	background-color: rgb(225, 174, 105);
	color: #fff;
	text-align: center;
	position: relative;
}

#web3 {
	background-color: #d88f2d;
	color: #fff;
	text-align: center;
	position: relative;
}


.select {
	top: -75px;
	left: -37px;
	width: 268px;
	height: 70px;
	position: absolute;
	background-image: url('../assets/img/materiales/enlaces/seleccion.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 268px 70px;
	padding: 12px 0px;
	font-size: 15px;
	text-decoration: none;
	color: #F93;
	display: none;
}

#tianguis {
	color: #174E53;
	font-size: 28px;
	text-decoration-line: unset;
}


/* estilos tarjetas */

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
	text-align: center;
}

#cards_landscape_wrap-2 .container {
	padding-top: 80px;
	padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
	text-decoration: none;
	outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
	border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-o-transition: all .9s ease;
	-ms-transition: all .9s ease;
	width: 100%;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
	opacity: 0.7;
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
	text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
	padding: 20px 10px;
}

#cards_landscape_wrap-2 .card-flyer {
	background: #fff3e2;
	margin-top: 50px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
	background: #fff;
	box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
	font-size: 18px;
	color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Black', sans-serif;
	letter-spacing: 1px;
	color: #7b0000;
}

