
body {

	color: #321450;

	background-color: #777e9a;

}


section {

	overflow: hidden;

}


#audioconservar2 {

	position: absolute;

	top: 398px;

	left: 410px;

	z-index: 2000;

	margin: 10px;

}


.nbig {
	font-size: 100px;
}


.card-conserva {
	color: a16468;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fde5e7;
	background-clip: border-box;
	border: 8px solid rgba(0, 0, 0, 0.125);
	border-radius: 1.25rem;
}


#fondoconserva {
	background-color: #777e9a;
}

#fondoconserva2 {
	background-color: #5b6385;
	color: #321450;
}

.card-body {
	background-color: #dfdbec;
}

.card {
	background-color: #e2edf7;
}

