

#titlecard, #dragndrop {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #22312F;
	min-height: 1000px;
}
#titlecard {
  z-index: 900;
}
#dragndrop {
  z-index: 800;
}
/*Reemplazar*/
#text {
  margin: 156px auto 50px;
  width: 560px;
  color: #bed4d1;
}
#title {
  width: 401px;
  height: 71px;
  background-image:url(../assets/img/conoce/cuidasvsdestruyes/desktop/plecainicio.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  line-height: 71px;
  text-align: center;
  color: white;
  font-family: gregh;
  font-size: 40px;
}
footer{
	display: none;
}

.leftGood {
  width: 49%;
  position: relative;
  float: left;
  margin-top: 40px;
}

.rightBad {
  width: 49%;
  position: relative;
  float: right;
  margin-top: 40px;
}

.leftGood > div{
  width: 100%;
  height: 90px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.leftGood > div > p {
  margin: 12px;
  width: 410px;
  float: right;
  font-size: 18px;
}

.rightBad > div{
  width: 100%;
  height: 90px;
  margin-top: 10px;
  background-color: red;
  position: relative;
  cursor: pointer;
}

.rightBad > div > p {
  margin: 2px 30px;
  width: 410px;
  font-size: 18px;
  padding-top: 10px;
}
/*Fin reemplazar*/
#descActividad {
  width: 217px;
  height: 203px;
  background-size: cover;
  margin-top: 150px;
  text-align: center;
  padding: 10px;
  color: #FFF;
  background-image: url(../assets/img/conoce/cuidasvsdestruyes/desktop/plecaactividades.png);
}
#finActividad {
  display: none;
}
#descActividad h3{
  font-family: gregh;
  font-size: 30px;
  margin: 15px 0;
}
.greenText {
  color: #34d9c0!important;
}
.flechaBlanca {
  width: 123px;
  height: 65px;
  background-image: url("../assets/img/conoce/cuidasvsdestruyes/desktop/flechablanca.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
}
.flechaAbajo {
  width: 123px;
  height: 65px;
  background-image: url("../assets/img/conoce/cuidasvsdestruyes/desktop/flechaabajo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
}
.backUp {
  width: 40px;
  height: 40px;
  background-image: url(../assets/img/iconosregresar.png);
  background-size: auto 100%;
  position: fixed;
  left: 10%;
  top: 101px;
  z-index: 10;
}
.iconoStar {
  width: 40px;
  height: 40px;
  background-image: url(../assets/img/conoce/cuidasvsdestruyes/desktop/estrella.png);
  background-size: cover;
  position: absolute;
  left: -50px;
  top: 23px;
}
#descActividad h2 {
  margin: 0;
  padding: 0;
  margin-top: 12px;
}
#descActividad p {
  font-size: 15px;
  padding: 10px;
  padding-top: 0;
}
#instActividad
{
  width: 312px;
  color: #EFEFE9;
  background-position: -10px 0;
  position: absolute;
  top: 0px;
  left: 400px;
}
#stepsDrag {
  position: absolute;
  top: 152px;
  left: 330px;
  width: 400px;
  height: 250px;
}
#stepsDrop {
  width: 831px;
  height: 375px;
  position: absolute;
  top: 205px;
  left: 37px;
}
.draggable {
  width: 125px;
  height: 118px;
  float: left;
  margin: 4px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}
.droppable {
  width: 125px;
  height: 118px;
  border-radius: 10px;
  background-color: #134d43;
  position: absolute;
}
#drop1 {
  left: 20px;
  bottom: 257px;
}
#drop2 {
  left: 20px;
  bottom: 130px;
}
#drop3 {
  left: 20px;
  bottom: 3px;
}
#drop4 {
  left: 155px;
  bottom: 3px;
}
#drop5 {
  left: 290px;
  bottom: 3px;
}
#bigArrow {
  left: 430px;
  bottom: 3px;
  width: 125px;
  height: 118px;
  background-image: url(../assets/img/conoce/cuidasvsdestruyes/desktop/flecha.png);
  position: absolute;
  background-size: 106px;
  background-repeat: no-repeat;
}
#drop6 {
  left: 550px;
  bottom: 3px;
}

#resActividad {
  display: none;
  position: absolute;
  left: 240px;
  top: 30px;
}

#resActividad p{
  color: #FFF;
  display: inline-block;
  margin-left: 29px;
  font-size: 15px;
  margin-top: -3px;
  width: 430px;
}
#grandText {
  color: #FFF;
  display: none;
  position: absolute;
  left: 230px;
  top: 230px;
  width: 450px;
}
#resActividad span {
  color: #FFF;
}

.leftGood div:nth-child(1) {
  background-color: #42ac9f;
  color: #124b40;
}
.leftGood div:nth-child(2) {
  background-color: #2c9588;
  color: #124b40;
}
.leftGood div:nth-child(3) {
  background-color: #208374;
  color: #124b40;
}
.leftGood div:nth-child(4) {
  background-color: #1b6e60;
  color: #40ac9f;
}
.leftGood div:nth-child(5) {
  background-color: #175d50;
  color: #40ac9f;
}
.rightBad div:nth-child(1) {
  background-color: #6e2009;
  color: #e3cf59;
}
.rightBad div:nth-child(2) {
  background-color: #903409;
  color: #e3cf59;
}
.rightBad div:nth-child(3) {
  background-color: #a94908;
  color: #e3cf59;
}
.rightBad div:nth-child(4) {
  background-color: #c18827;
  color: #36120a;
}
.rightBad div:nth-child(5) {
  background-color: #e0ca56;
  color: #36120a;
}
#puntos {
  display: none;
}
.expl {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 14px;
  display: none;
}


