#titlecard, #dragndrop {

    position: absolute;

    width: 100%;

    height: 100%;

	left: 0px;

	bottom: 0px;

}



.leftGood > div > p {

    width: 300px;
    font-size: 14px !important;

}



.rightBad > div > p {

	    width: 300px;
        font-size: 14px !important;

}

