article {

  width: 100%;

}



h2, h3 {

  margin: 0px 0px 0px 0px;

  color: #DFE494;

}



.margen p {

  color: #F0F1D1;

  font-size: 18px;

}



.na {

  color: #FCCC24;

}





 #ed1 {

  width: 100%;

  min-height: 570px;

  background-image: url('../assets/img/mexico/dana/00_dana.jpg');

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

  position: static;

  margin-top: 81px;


}



.fundidoNegro {

  height: 400px;

  width: 20%;

  background-color: rgba(0,0,0,.8);

  overflow: scroll;

  margin-top: 15px;

  bottom: 0;

  color: wheat;

}



.fundidoNegro  {

  width: 150px;

  margin: 0 auto;

  margin-top: 15px;

}



/*.fundidoNegro article h2{

  text-align: center;

}*/



.selected a{

  background-color: #FFF!important;

  color: #942829!important;

}



#puntos {

 /* display: none;*/

}



article.fijo .margen{

  width: 800px;

  padding-top: 20px;

  padding-bottom: 20px;

}



article.producto {

  height: 300px;

}



article.producto .margen{

  width: 800px;

  margin: 0px auto;

  /*padding-left: 20%;*/

}



article.producto img{

  display: inline-block;

  height: 300px;

  width: 50%;

}





article.contenido {

  width: 500px;

  display: inline-block;

  vertical-align: top;

  margin-left: 50px;

  margin-top: 8%;

  color: #F0F1D1;

}







#ed2 {

  background-color: #828729;;

}



#ed2 .fijo {

  background-color: #71770E;;

  z-index: 1;

}



#ed2 .producto {

  border-bottom-color: #63681C;

}



#ed3 {

  background-color: #6F996B;

}



#ed3 .fijo {

  background-color: #507e4d;

  z-index: 1;

}



#ed3 .producto {

  border-bottom-color: #507e4d;

}



#ed4 {

  background-color: #BD9638;

}



#ed4 .fijo {

  background-color: #AD8627;

  z-index: 1;

}



#ed4 .producto {

  border-bottom-color: #AD8627

}



#ed5 {

  background-color: #67553D;

}



#ed5 .fijo {

  background-color: #4a391d;

  z-index: 1;

}



#ed5 .producto {

  border-bottom-color: #4a391d;

}



#ed6 {

  background-color: #374F59;

}



#ed6 .fijo {

  background-color: #1E3E4B;

  z-index: 1;

}



#ed6 .producto {

  border-bottom-color: #1E3E4B;

}



#ed7 {

  background-color: #4E807D;

}



#ed7 .fijo {

  background-color: #2B6966;

  z-index: 1;

}



#ed7 .producto {

  border-bottom-color: #2B6966;

}



#ed8 {

  background-color: #856A50;

}



#ed8 .fijo {

  background-color: #785B3D;

  z-index: 1;

}



#ed8 .producto {

  border-bottom-color: #785B3D;

}



.producto {

  border-bottom-style: solid;

  border-bottom-width: 4px;

}



.fijo {

  transition:all 0.3s ease-in-out;

  -moz-transition:all 0.3s ease-in-out;

  -ms-transition:all 0.3s ease-in-out;

  -webkit-transition:all 0.3s ease-in-out;

  -o-transition:all 0.3s ease-in-out;

}