h2, h3 {

  margin: 0px 0px 0px 0px;

  color: #DFE494;

}



.margen p {
  color: #F0F1D1;
}



.na {
  color: #FCCC24;
}





#ed1 {
  width: 100%;

  min-height: 570px;

  background-image: url('../assets/img/mexico/dana/00_dana.jpg');

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

  position: relative;

}




#menuCirculo {

  margin-top: 10px;

}

#menuCirculo ul {

  padding: 0;

  margin: 0 auto;

  width: 600px;

}



#menuCirculo ul li {

  display: inline-block;

  vertical-align: top;

  width: 60px;

  margin: 0px 5px;

}



#menuCirculo ul li p{

  text-align: center;

  color: #FFF;

  font-size: 14px;

}



#menuCirculo .circulo {

  display: block;

  width: 50px;

  height: 50px;

  border: none;

  background-image: url(../assets/img/botonescosistemas.png);

  background-color: #404e5b;

  border-radius: 50%;

  line-height: 50px;

  text-align: center;

  font-size: 30px;

  margin: 0 auto;

  text-decoration: none;

  color: #cec4a4;

  background-size: auto 330%;

}



.selected a{

  background-color: #FFF!important;

  color: #942829!important;

}



#puntos {

 /* display: none;*/

}

#menuCirculo ul li a {

	color: transparent!important;

}

#menuCirculo ul li:nth-child(1) a {

  background-position: -3px -58px;

}

#menuCirculo ul li:nth-child(2) a {

  background-position: -59px -58px;

}

#menuCirculo ul li:nth-child(3) a {

  background-position: -114px -58px;

}

#menuCirculo ul li:nth-child(4) a {

  background-position: -170px -58px;

}

#menuCirculo ul li:nth-child(5) a {

  background-position: -225px -58px;

}

#menuCirculo ul li:nth-child(6) a {

  background-position: -280px -58px;

}

#menuCirculo ul li:nth-child(7) a {

  background-position: -335px -58px;

}

#menuCirculo ul li:nth-child(8) a {

  background-position: -391px -58px;

}





#menuCirculo ul li:nth-child(1) a:hover {

  background-position: -3px -112px;

}

#menuCirculo ul li:nth-child(2) a:hover {

  background-position: -59px -112px;

}

#menuCirculo ul li:nth-child(3) a:hover {

  background-position: -114px -112px;

}

#menuCirculo ul li:nth-child(4) a:hover {

  background-position: -170px -112px;

}

#menuCirculo ul li:nth-child(5) a:hover {

  background-position: -225px -112px;

}

#menuCirculo ul li:nth-child(6) a:hover {

  background-position: -280px -112px;

}

#menuCirculo ul li:nth-child(7) a:hover {

  background-position: -335px -112px;

}

#menuCirculo ul li:nth-child(8) a:hover {

  background-position: -391px -112px;

}



article.fijo .margen{

  width: 800px;

  padding-top: 20px;

  padding-bottom: 20px;

}



article.producto {

  height: 300px;

}



article.producto .margen{

  width: 800px;

  margin: 0px auto;

  /*padding-left: 20%;*/

}



article.producto img{

  display: inline-block;

  height: 300px;

  width: auto;

}



article.contenido {

  width: 500px;

  display: inline-block;

  vertical-align: top;

  margin-left: 50px;

  margin-top: 8%;

  color: #F0F1D1;

}



.fondonegro {background-color:rgba(0,0,0,0.7);
color: #fff;
margin: 130px;}



#ed2 {
  background-color: #828729;;
padding: 20px;
}



#ed2 .fijo {

  background-color: #71770E;;

  z-index: 1;

}



#ed2 .producto {

  border-bottom-color: #63681C;

}



#ed3 {

  background-color: #6F996B;
padding: 20px;
}



#ed3 .fijo {

  background-color: #507e4d;

  z-index: 1;

}



#ed3 .producto {

  border-bottom-color: #507e4d;

}



#ed4 {

  background-color: #BD9638;
padding: 20px;
}



#ed4 .fijo {

  background-color: #AD8627;

  z-index: 1;

}



#ed4 .producto {

  border-bottom-color: #AD8627

}



#ed5 {

  background-color: #67553D;
padding: 20px;
}



#ed5 .fijo {

  background-color: #4a391d;

  z-index: 1;

}



#ed5 .producto {

  border-bottom-color: #4a391d;

}



#ed6 {

  background-color: #374F59;
padding: 20px;
}



#ed6 .fijo {

  background-color: #1E3E4B;

  z-index: 1;

}



#ed6 .producto {

  border-bottom-color: #1E3E4B;

}



#ed7 {

  background-color: #4E807D;
padding: 20px;
}



#ed7 .fijo {

  background-color: #2B6966;

  z-index: 1;

}



#ed7 .producto {

  border-bottom-color: #2B6966;

}



#ed8 {

  background-color: #856A50;
padding: 20px;
}



#ed8 .fijo {

  background-color: #785B3D;

  z-index: 1;

}



#ed8 .producto {

  border-bottom-color: #785B3D;

}



.producto {

  border-bottom-style: solid;

  border-bottom-width: 4px;

}



.fijo {

  transition:all 0.3s ease-in-out;

  -moz-transition:all 0.3s ease-in-out;

  -ms-transition:all 0.3s ease-in-out;

  -webkit-transition:all 0.3s ease-in-out;

  -o-transition:all 0.3s ease-in-out;

}