

.fondoimg{

	width:100%;

	margin:0;

}



.fondoimg img{

	width:100%;

	height:auto;

}

.timportante{

	color:#FC6;

	width:400px;

}



p{

	color:#FFF;

}



section{

	overflow:hidden;

}





/*seccion 1*/



.e1{
	background-color:#264f6b;
	width:100%;
	position:relative;
	padding-bottom: 200px;
}


#circulo {
	background-color: #244a65;
	margin: -75px 0px 0px 401px;
}



#e1articulo1{
	padding-top:96px;
	padding-left:80px;
}



.e1 h3 {
	color:#FC6;
}



#e1articulo1 p strong{
	color:#FC6;
}



#e1img1{
	width:20px;
	height:auto;
	position: absolute;
	bottom: 0%;
	right: 349px;
/*	transform: translateX(2926%);

	webkit-transform: translateX(2926%);

	-o-transform: translateX(2926%);

	-moz-transform: translateX(2926%);

	-ms-transform: translateX(2926%);*/

}

/*seccion 1*/



/*seccion 2*/

.e2{
	margin:0;
	padding:0px ;
	background-color:#061b30;
	background-image:url(../assets/img/mexico/ecosistema/m_fondomarino.jpg);
	position: relative;
	background-size: 100% auto;
	background-position: 0px 0px;
	padding-top:50px;
	background-repeat:no-repeat;
}



#fondoe2{

	display: none;

}



.e2 h3 {
	color:#FC6;
}



#e2 .margen{

	margin-top: -520px;

	padding-left:200px;

}



#e2img1 {
    bottom: 385px;
    position: relative;
    width: 300px;
    left: -350px;
}

#e2img2{
	position:absolute;
	right:735px;
	top:540px;
}


#e2img2 img{
	width:250px;
}

		

#e2img3{
	position: absolute;
	right: -30px;
	bottom: -20px;

}



#e2imgburbuja{

	position:absolute;

	top: 20%;

	left: 20%;

	width:10px;	

}

/*seccion 2*/



/*seccion 3*/

.e3{
	background-size: 100% auto;
	background-position: 0px 0px;
	background-color:#f4da63;
	color:#cc7211;
	position:relative;
	padding-top:50px;
	background-image:url(../assets/img/mexico/ecosistema/m_arbusto.png);
	background-repeat:no-repeat;
}

#e3 .margen > p{

	color:#8b5a15;

	width:600px;

}



#e3 article p{
	width:400px;
	color:#f2e2a4;
}



#e3 article h2{
	color:#f1e44a
}



.e3 h3{
	color:#cc7211;
}



#e3a1{
	width:500px;
	position:absolute;
	left: 215px;
	top: 310px;
}



#e3a2{
	width:500px;
	position:absolute;
	right: 165px;
	top: 155px;
}

	

#e3a3{
	width:500px;
	position:absolute;
	left: 670px;
	top:460px;
}	



#e3imgsol{
	position:absolute;
	right: 250px;
	top: 34px;
}


#e3a3 img{

	margin:0;

	display:inline-block;

}



#e3a3 h2{

	margin:0;

	display:inline-block;

	top: 201px;

	position: absolute;

}



#e3a3 p{

	margin:0;

	display:inline-block;

}



#arbusto2{
	position:absolute;
	bottom:100px;
	width:100%;
}

/*seccion 3*/













