body{

	background-color: rgb(146, 174, 162);

}

.entremas {background-color: #92aea2;}  


.entremas2 {background-color: #bfd8cd;}

.cd-main-content {
    background-color: none;
    min-height: 100vh;
    z-index: 2;
}

.card-entremas {
	color: a16468;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ADCCBF;
    background-clip: border-box;
    border: 10px solid rgba(133, 165, 153, 0.125);
    border-radius: 1.25rem;}


.contenedor{

	padding-top: 20px;

	width: 100%;

	height: 35%;

	margin: 0 auto;

}

.iconos{

	background-color: #ADCCBF;

	padding: 2%;

	margin-top: 3%;

	height: 75%;

}

.iconos2{

	margin-top: 14px;

	background-color: #ADCCBF;

	height: 155px;

	padding: 10px;

}

.iconos img{

	width: auto;

	height: 100%;

	max-width: 100%;

}

.artGrand{

	vertical-align: top;

}



#barraUp1{

	background-color:#924809;

	height: 90px;

}

#barraUp{

	height: 90px;

}

.mapa{

	height: 45%;

	width: auto;

  margin: 0 auto;

  margin-top: 0px;

	position: relative;

	z-index: 5000;

	text-align: center;

}

.mapa img {

	height: 100%;

}

#mapaFondo{

	z-index: 100;

	position: relative;

	height: 45%;

	width: 960px

}

#mapa2 mapa3 mapa4 mapa5 mapa6{

	z-index: 1000;

}

#mapaFondo img {

	height: 100%;

}

/*#puntos{

	display:none;

}*/



.hideSect {

	visibility: hidden;

}



.showSect {

	visibility: visible;

}

#mapa1{

	margin-top: 15%;

	z-index: 5000!important;

}

#p1{

	width: 560px!important;

	font-size: 20px;

}

#seccion0 {

	position: fixed;

	width: 100%;

	height: 100%;

	left: 0;

	right: 0;

  margin-right: auto;

  margin-left: auto;

}