section {

	overflow:hidden;

}

.margen{

	z-index: 2;

}



#e1 {
 	background-color: #76989A;
 	color: #193133;
 	padding-top:50px;
 	z-index: 3;
}



.na {
	color: #D4842D;
}




#ima1_e1 img {
	position: absolute;
	margin: -220px 0px 0px -1050px;
	z-index: 1;
}



#ima2_e1 img {
	position: absolute;
	margin: -295px 0px 0px 465px;
	z-index: -1;
}



#ima3_e1 img {
	width: 20%;
	position: absolute;
	margin: -590px 0px 0px 460px;
	z-index: 1;
}



#e2 {
 	background-color: #5E2B3C;
 	color: #DCBCC7;
 	text-align: center;
 	padding-top:81px;
 	position:relative;
 	z-index: 3;
 }



#e2 h2 {
	color: #D5A133;}


.nar  {
	color: #FFBC2E;
}

.nar2 {color: #A0E4AF;}


#ima1_e2 img {
	width: 20%;
}



#ima2_e2 img {
	width: 52%;
	position: absolute;
	margin: -925px 0px 0px -1100px;
	z-index: 1;
	opacity: 0.2;
}



#ima3_e2 img {
	width: 30%;
	position: absolute;
	margin: -440px 0px 0px 550px;
	z-index: 1;
	opacity: 0.4;
}



#e3 {
 	background-color: #204844; 
 	color: #0B2F2B;
 	padding-top:81px;
 	position:relative;
 	z-index: 3;
}




.timportante {
	text-align: center;
	display: inherit;
}



#e3 #nativas {
	background-color: #225049;
}



#e3 #nativas1 {
	display: inline-block;
    background-color: #367E64;
    width: 350px;
    height: 550px;
    vertical-align: top;
    margin-right: 14px;
    padding: 20px;
	text-align: center;
}


#e3 #nativas2 {
	display: inline-block;
	background-color: #53967E;
	width: 350px;
	height: 550px;
	padding: 20px;
	text-align: center;
}


.blanco {
	color: white;
}



#e3 #exoticas {
	background-color: #225049;
	width: 100%;
}



#e3 #exoticas1 {
	display: inline-block;
	background-color: #934F29;
	width: 350px;
	height: 775px;
	vertical-align: top;
	margin-right: 14px;
	padding: 20px;
	text-align: center;
}


#e3 #exoticas2 {
	display: inline-block;
	background-color: #996533;
	width: 350px;
	height: 775px;
	padding: 20px;
	text-align: center;
}


.nar3 {color: #F1D862;}

#e4 {
 	background-color: #1B1D12;
 	color: #D4D8A5;
 	padding-top:81px;
 	position:relative;
 	z-index: 3;
}

#e4 em {color: #FC6;}

/*e_escarabajos.png*/
#ima1_e4 img { 
	position: absolute;
	margin: -1000px 0px 0px -910px;
	z-index: -1;}

/*e_linne.png*/
#ima2_e4 img {
	position: absolute;
	margin: -816px 0px 0px 530px;
	z-index: -1;
}

/*e_seleccion.png*/
#ima3_e4 img {
	position: absolute;
	margin: -305px 0 0 -535px;
	z-index: -1;
	opacity: 0.3;
}

