
p {

	font-size: 20px;

}


h2 {

	font-size: 42px;

}


article {


}


#explora {

	background-color: #090d16;

}


#explora .layerplaneta {

	width: 160%;

	margin: 17px -290px 2px;

}


#planeta {

	width: 160%;

	margin: 200px -290px -7px;

}


#menuecosistemas {

	margin: 95px 0px 0px;

}


#musicaexplora {

	top: 95px;

}


#modal {

	width: 544px;

	height: 850px;

	top: 14%;

	left: 15%;

}


#modal p {

	font-size: 20px;

	width: 430px;

	margin: -11px 50px 28px;

}


#modal h2 {

	font-size: 35px;

	margin-top: 20px;

	margin-left: 50px;

}


.modalfoto img {

	margin-left: 72px;

}


.modalbtn {

	width: 400px;

	height: 45px;

	margin-bottom: 27px;

}


.modalbtn img {

	bottom: 20px;

}


.modalVideo video {

	position: absolute;

	left: 80px;

	top: 20px;

}


#selvaseca .margen article {

	margin: 0px 0px 0px 200px;

}


#selvaseca .margen article img {

	margin-top: 470px;

	margin-left: -330px;

}


#animalesselvaseca {

	width: 140%;

	left: -30%;

}


#fondoselvaseca img {

	width: 140%;

	left: -30%;

}


#selvahumeda .margen article {

	margin: 0px 0px 0px 200px;

}


#selvahumeda .margen article img {

	margin-top: 360px;

	margin-left: -330px;

}


#animalesselva {

	width: 150%;

	left: -25%;

}


#fondoselvahumeda img {

	width: 150%;

	left: -25%;

}


#layer2selva {

	display: none;

}


#layer2_2selva {

	display: none;

}


#transicionselvahumeda {

	margin-left: 0px;

	margin-top: -75px;

}


#bosquenublado .margen article {

	margin: 0px 0px 0px 200px;

}


#bosquenublado .margen article img {

	margin-top: 470px;

	margin-left: -330px;

}


#animalesbosquenublado {

	width: 150%;

	left: -25%;

}


#fondobosquenublado img {

	width: 150%;

	left: -25%;

}


#bosquetemplado {

	padding-top: 420px;

}


#bosquetemplado .margen article {

	margin: 0px 0px 0px 200px;

}


#bosquetemplado .margen article img {

	margin-top: 300px;

	margin-left: -330px;

}


#animalesbosque {

	width: 150%;

	left: -32%;

}


#fondobosquetemplado {

	width: 150%;

	margin-left: -257px;

}


#layer2bosquetemplado {

	display: none;

}


#layer3bosquetemplado {

	display: none;

}


#transicionbosquetemplado {

	margin-left: 0px;

	margin-top: -80px;

}

#rios .margen article {

	margin: 0px 0px 0px 200px;

}


#rios .margen article img {

	margin-top: 470px;

	margin-left: -330px;

}


#animalesrios {

	width: 150%;

	left: -25%;

}


#fondorios img {

	width: 150%;

	left: -25%;

}


#pastizal {

	padding-top: 400px;

}


#pastizal .margen article {

	margin: 0px 0px 0px 200px;

}


#pastizal .margen article img {

	margin-top: 249px;

	margin-left: -330px;

}


#animalespastizal {

	width: 150%;

	left: -25%;

}


#layer1pastizal {

	width: 150%;

	bottom: 20px;

	left: -24%;

}


#fondopastizal img {

	width: 150%;

	margin-left: -197px;

}


#transicionpastizal {

	margin-left: 0px;

	margin-top: -100px;

	display: none;

}


#matorral {

	padding-top: 250px;

}


#matorral .margen article {

	margin: 0px 0px 0px 200px;

}


#matorral .margen article img {

	margin-top: 360px;

	margin-left: -330px;

}


#animalesmatorral {

	width: 150%;

	left: -33%;

}


#cactoviejito {

	right: 73%;

}

#ratacanguro {

	right: 29%;

}

#correcaminos {

	right: 25%;

}

#lagartija {

	right: 30%;

}

#fondomatorral img {

	width: 150%;

	margin-left: -274px;

	margin-top: 270px;

}


#layer1matorral {

	bottom: 35px;

	right: -0px;

	width: 108%;

}


#transicionmatorral {

	margin-left: 0px;

	margin-top: -50px;

}


#pacifico {

	padding-top: 250px;

}


#pacifico .margen article {

	margin: 0px 0px 0px 200px;

}


#pacifico .margen article img {

	margin-top: 250px;

	margin-left: -330px;

}


#animalespacifico {

	width: 150%;

	left: -20%;

}


#fondopacifico img {

	width: 150%;

	margin-left: -164px;

	margin-top: 100px;

}


#layer1pacifico img {

	bottom: 7px;

	width: 69%;

	margin-left: -137px;

}


#layer2pacifico img {

	bottom: 6px;

	width: 74%;

	margin-left: -146px;

}


#transicionpacifico {

	margin-left: 0px;

	margin-top: -30px;

}


#golfo {

	padding-top: 260px;

}


#golfo .margen article {

	margin: 0px 0px 0px 200px;

}


#golfo .margen article img {

	margin-top: 220px;

	margin-left: -330px;

}


#animalesgolfo {

	width: 150%;

	left: -20%;

}


#fondogolfo img {

	width: 150%;

	margin-left: -164px;

	margin-top: 360px;

}


#layer1golfo img {

	bottom: 7px;

	width: 155%;

	margin-left: -41px;

}


#layer2golfo img {

	bottom: 6px;

	width: 74%;

	margin-left: -146px;

}


#transiciongolfo {

	margin-left: 0px;

	margin-top: -40px;

}


#campo {

	padding-top: 260px;

}


#campo .margen article {

	margin: 0px 0px 0px 200px;

}


#campo .margen article img {

	margin-top: 538px;

	margin-left: -330px;

}


#animalescampo {

	width: 150%;

	left: -39%;

}


#fondocampo img {

	width: 150%;

	margin-left: -330px;

	margin-top: 330px;

}


#layer1campo {

	right: -9%;

	width: 144%;

}


#transicioncampo {

	margin-left: 0px;

	margin-top: -40px;

}


#ciudad {

	padding-top: 300px;

}


#ciudad .margen article {

	margin: 0px 0px 0px 200px;

}


#ciudad .margen article img {

	margin-top: 370px;

	margin-left: -330px;

}


#animalesciudad {

	width: 150%;

	left: -35%;

}


#fondociudad img {

	width: 150%;

	margin-left: -292px;

}


#layer1ciudad {

	right: -9%;

	width: 144%;

}


#layer1ciudad img {

	width: 60%;

	margin-left: 32px;

}


#layer3ciudad {

	right: 61%;

	width: 28%;

}
