



/*#audio_e1 {

	margin: -61px 0px 0px 406px;

}*/



#e1 h2 {

	margin: 10% 0px 2% 100px;

}



#ima1_e1 img {

	margin: 25px 0px 0px 26px;

}



#ima2_e1 img {

	margin: 86px 0px 0px 86px;

}



#ima3_e1 img {

	margin: 18px 0px 0px 577px;

}


#ima1_e2 img {
	display: none;
}




#e2 h2 {

	margin: 10% 0px -2% -281px;

}







#e3 #nativas1 {

	margin-left: 45px;

}



#e3 #exoticas1 {

	margin-left: 45px;

}





#e3 p {

	width: 595px;

}







#e4 h2 {

	margin: 10% 0px 2% 236px;

}



#e4 p {

	margin-left: 200px;

}



/*#audio_e4 {

	margin: -61px 0px 0px 496px;

}*/



#e4 #pa2 {

	margin-left: 42px;

}



#ima2_e4 img {

	margin: -816px 0px 0px 609px;

}



#ima4_e4 {

	margin: -25px 0px 0px 80px;

}

#titulo2 img{
	width: 60%;
	margin: 10px 240px 10px 0px;
}