section {
	overflow:hidden;
}

p {
	
}

.margen {
	z-index: 2;
}

.nombrecomun {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}


.nombrecient {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
}


.videoyt {
    width: 80%;
    height: 300px;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    border-radius: 20px;
}

#circulo {
	background-color: #8ED1C9;
	margin: 0px auto;
	top: -1000px;
	z-index: 1;
	position: relative;
}

#titulo {
    margin-left: 170px;
}	
	
#titulo img {
	width: 420px;
	height: auto;
    margin: 31px 51px -29px 61px;
}

#titulo2 {
   margin: -1px -229px -29px 0px;
}

#titulo2 img {
	width: 500px;
}	
	
#titulo2 img2 {
	width: 420px;
	height: auto;
    margin: 31px 391px -9px 0px;
}

#titulo3 {
	text-align: center;
}	

#titulo3 img {
	width: 700px;
}	

	
#titulo2 img3 {
	
	width: 420px;
	height: auto;
    margin: 31px 391px -9px 0px;

}

/*#audio_e1, #audio_e4 {

	background-image: url(../assets/img/iconovoz.png);

	background-repeat: no-repeat;

	background-position: 4px 0px;

	width: 48px;

	height: 51px;

	margin: -79px 0px 0px 520px;

	position: absolute; 	

}*/



/*#audio_e4 {

	margin: -61px 0px 0px 632px;

}*/



/*#audio_e1:hover, #audio_e4:hover {

	background-position: -45px 0px;

}

*/



#e1 {

 	background-color: #8ED1C9;
 	color: #0A4D43;
 	position:relative;
 	padding-top:31px;
	padding-bottom: 31px;
 	z-index: 3;

}



.na {

	color: #D4842D;

}



/*SECCIONES*/

#e1 h2 {
	margin: 8% 0px 4% 175px;
}


#e1 .centrar {
	margin: 0px auto;
	width: 700px;
}


#ima1_e1 img {
    width: 30%;
    position: absolute;
    margin: -200px 0px 0px -190px;
    z-index: 1;
}


#ima2_e1 img {
	width: 26%;
	position: absolute;
	margin: -153px 0px 0px 816px;
	z-index: -1;
}


#ima3_e1 img {
	width: 25%;
	position: absolute;
	margin: 8px 0px 0px 820px;
	z-index: 1;
}




#e2 {
 	background-color: #ffcfae;
 	color: #f5f7aa;
 	text-align: center;
 	padding-top:81px;
 	position:relative;
 	z-index: 3;
 	height: 1300px;
 }



#e2 h2 {
	color: #134B45;
   /*	 margin: 0% 143px 4% 70px;*/
   font-size: 1.5em !important;
}



#e2 p {
	margin: 0px auto;
	margin-top: 28px;
	margin-bottom: 25px;
	text-align: left;

	font-size: 1.5rem !important;
}



.nar {
	color: #0a5033;
}



#ima1_e2 img {
    width: 35%;
    position: absolute;
    margin: -32px 0px 0px -614px;
    baseline-shift: baseline;
}



#ima2_e2 img {

	width: 32%;

	position: absolute;

	margin: -925px 0px 0px -934px;

	z-index: 1;

	opacity: 0.4;

}



#ima3_e2 img {

	width: 29%;

	position: absolute;

	margin: -333px 0px 0px 409px;

	z-index: 1;

	opacity: 0.4;

}







#e3 {

 	background-color:#a5d8d2;
 	background-image: url();
 	background-size: cover;
 	-o-background-size: cover;
 	-moz-background-size: cover;
 	-webkit-background-size: cover;
 	background-position: top;
 	-o-background-position: top;
 	-moz-background-position: top;
 	-webkit-background-position: top;
 	background-repeat: no-repeat;
 	color: #175C55;
 	padding-top: 33px;
 	position:relative;
 	z-index: 3;
 	height: 730px;
}



#e3 h2 {

	margin: 3% 0px 2% 102px;



}



#e3 p {
	
	margin: 0px 20px;
	margin-bottom: 20px;
}

#e3 a{
	text-decoration: none !important;
	color: #266044;
}



.timportante {


	display: inherit;

}



#e3 #nativas {

	background-color: #A5D8D2;

	width: 100%;

}

#e3 #nativas p {

	font-size: 1.5 rem !important;

}



#e3 #nativas1 {

	display: inline-block;

	background-color: #64B4A8;

	width: 300px;

	height: 850px;

	vertical-align: top;

	margin-left: 135px;

	margin-right: 14px;

	padding: 20px;

	text-align: center;

}



#e3 #nativas1 img {

	width: 80%;

}



#e3 #nativas1 .timportante {

	text-align: left;

	width: 300px;

}



#e3 #nativas1 p {

	text-align: left;

	width: 300px;

}



#e3 #nativas2 {

	display: inline-block;

	background-color: #3D9286;

	width: 300px;

	height: 850px;

	padding: 20px;

	text-align: center;

}



#e3 #nativas2 .timportante {

	text-align: left;

	width: 300px;

}



#e3 #nativas2 img {
	width: 100%;
}



#e3 #nativas2 p {
	text-align: left;
	width: 300px;
	color: #043934;
}

.blanco {
	color: #113e31;
}


#e3 #nativas3 {
	display: inline-block;
	background-color: #367E64;
	width: 300px;
	height: 350px;
	vertical-align: top;
	margin-left: 135px;
	margin-right: 14px;
	padding: 20px;
	text-align: center;
}



#e3 #nativas3 img {
	width: 80%;
}



#e3 #nativas3 .timportante {
	text-align: left;
	width: 300px;
}



#e3 #nativas3 p {
	text-align: left;
	width: 300px;
}


#e3 #exoticas {
	background-color: #A5D8D2;
	width: 100%;
}



#e3 #exoticas1 {
	display: inline-block;
	background-color: #d2bcad;
	width: 300px;
	height: 970px;
	vertical-align: top;
	margin-left: 135px;
	margin-right: 14px;
	padding: 20px;
	text-align: center;
}

#e3 #exoticas1 .timportante {
	text-align: left;
	width: 300px;
}

#e3 #exoticas1 img {
	width: 80%;
}

#e3 #exoticas1 p {
	text-align: left;
	width: 300px;
}

#e3 #exoticas2 {
	display: inline-block;
	background-color: #c8a596;
	width: 300px;
	height: 970px;
	padding: 20px;
	text-align: center;
}

#e3 #exoticas2 .timportante {
	text-align: left;
	width: 300px;

}



#e3 #exoticas2 img {
	width: 80%;
}



#e3 #exoticas2 p {
	text-align: left;
	width: 300px;
}

#e4 {
 	background-color: #1B1D12;
 	color: #D4D8A5;
 	padding-top:81px;
 	position:relative;
 	z-index: 3;
 	min-height: 1000px;
	max-height: 2000px;

}



#e4 h2 {
	margin: 3% 0px 2% 360px;
	color: #F1D862;

}



#e4 p {
	width: 400px;
	margin-left: 360px;

}



#e4 #pa2 {
	width: 700px;
	margin-left: 200px;

}



#e4 img {
	width: 70%;

}



/*e_escarabajos.png*/

#ima1_e4 img { 
	width: 57%;
	position: absolute;
	margin: -1038px 0px 0px -200px;
	z-index: -1;
}



/*e_linne.png*/

#ima2_e4 img {
	width: 18%;
	position: absolute;
	margin: -816px 0px 0px 770px;
	z-index: -1;
}



/*e_seleccion.png*/

#ima3_e4 img {
	width: 25%;
	position: absolute;
	margin: -305px 0 0 -80px;
	z-index: -1;
	opacity: 0.3;
}

.cd-main-content{
 background-color: #8ED1C9;
}

.centrar .p1{
	font-size: 1em !important;
}

.title-que-es-una-invasion{
	width: 70%;
	height: 200px;
	margin-top: 0px;
	background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 100% 100%;
}


.title-como-invaden{
	max-width: 800px;
	width: 100%;
	height: 100px;
	margin: auto;
	background: url(../invasoras/assets/img/invasion/y-nuestras-especies.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50% 50%;
}
.title-como-se-atiende{
	max-width: 800px;
	width: 100%;
	height: 100px;
	margin: auto;
	background: url(../invasoras/assets/img/invasion/t-como-atender-problema.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

.invasion-palomilla-del-nopal{
		display: block;
		position: relative;
		width: 300px;
		left: -185px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/palomilla-del-nopal.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:0% 102%;
}

.invasion-tortuga{
	display: block;
		position: relative;
		width: 300px;
		right: 0px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/tortuga.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0% 102%;
}

.diagrama-invasion{
		width: 100%;
		height: 600px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
}

.invasion-luna-sola{
	display: block;
	position: relative;
		width: 400px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/luna-sola.png);
		background-repeat: no-repeat;
		background-size: 70%;
		background-position:50% 50%;
}

  .p2 {
	color: #03412F;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0px;
  }

  .p1 {
	font-family: mclaren-regular;
	line-height: 24px;
	color: #0C1915;
	font-size: 1em;
	text-align: justify;
  }



  .color-verde{
	color: #03412F;
  }


  @media (max-width: 575px) {
	
	.title-que-es-una-invasion{
		width: 100%;
		height: 140px;
		margin: 0px auto 20px;
		background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
		background-repeat: no-repeat;
		background-size: 70%;
		background-position: 50% 90%;
	}

	.title-como-invaden{
		max-width: 800px;
		width: 100%;
		height: 60px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/y-nuestras-especies.png);
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: 50% 50%;
	}

	.diagrama-invasion{
		width: 100%;
		max-width: 1100px;
		max-height: 360px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}
	#e1{
		height: 130rem;
	}
	#e2{
		height: 125rem;
	}
	
	#e3{
		height: 155rem;
	}
  }

  @media (min-width: 576px) {

	.title-que-es-una-invasion{
		width: 100%;
		height: 160px;
		margin: 40px auto 20px;
		background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: 50% 90%;
	}

	.diagrama-invasion{
		width: 100%;
		max-width: 1100px;
		max-height: 430px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}
	#e1{
		height: 110rem;
	}
	#e2{
		height: 110rem;
	}
	#e3{
		height: 130rem;
	}
  }
  @media (min-width: 768px) {
	.title-que-es-una-invasion{
		width: 100%;
		height: 160px;
		margin: 40px auto 20px;
		background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: 50% 90%;
	}

	.diagrama-invasion{
		width: 100%;
		max-width: 1100px;
		max-height: 550px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}
	.invasion-palomilla-del-nopal{
		display: block;
		position: relative;
		width: 300px;
		left: -195px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/palomilla-del-nopal.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:0% 102%;
	}

	#e1{
		height: 115rem;
	}
	#e2{
		height: 100rem;
	}
	#e3{
		height: 100rem;
	}
  }
  @media (min-width: 992px) {
	.title-que-es-una-invasion{
		width: 100%;
		height: 180px;
		margin: 60px auto 20px;
		background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: 50% 90%;
	}

	.diagrama-invasion{
		width: 100%;
		max-width: 1100px;
		max-height: 600px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}


	.invasion-palomilla-del-nopal{
		display: block;
		position: relative;
		width: 300px;
		left: -185px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/palomilla-del-nopal.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:0% 102%;
	}

	.invasion-luna-sola{
		display: block;
		position: relative;
		width: 300px;
		left: -30px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/luna-sola.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:50% 50%;
	}
	#e1{
		height: 95rem;
	}
	#e2{
		height: 110rem;
	}
	#e3{
		height: 80rem;
	}

  }
  @media (min-width: 1200px) {
	.title-que-es-una-invasion{
		width: 100%;
		height: 150px;
		margin: 100px auto 30px;
		background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 50% 80%;
	}
	.diagrama-invasion{
		width: 100%;
		max-width: 1100px;
		max-height: 600px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}

	.invasion-luna-sola{
		display: block;
		position: relative;
		width: 300px;
		left: 0px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/luna-sola.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:50% 50%;
	}

	.invasion-palomilla-del-nopal{
		display: block;
		position: relative;
		width: 300px;
		left: -135px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/palomilla-del-nopal.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:0% 102%;
	}
	#e1{
		height: 85rem;
	}
	#e2{
		height: 95rem;
	}
	#e3{
		height: 70rem;
	}

  }
  @media (min-width: 1400px) {
	.title-que-es-una-invasion{
		
		width: 100%;
		height: 180px;
		margin: 100px auto 30px;
		background: url(../invasoras/assets/img/invasion/que-son-las-especies-exoticas.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 50% 80%;
	}


	.title-como-invaden{
		max-width: 800px;
		width: 100%;
		height: 100px;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/y-nuestras-especies.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 50% 50%;
	}

	.diagrama-invasion{
		width: 100%;
		max-width: 1100px;
		max-height: 800px;
		
		margin: auto;
		background: url(../invasoras/assets/img/invasion/diagrama.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}

	.invasion-luna-sola{
		display: block;
		position: relative;
		width: 300px;
		left: 0px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/luna-sola.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:50% 50%;
	}

	.invasion-palomilla-del-nopal{
		display: block;
		position: relative;
		width: 300px;
		left: -135px;
		height: 100%;
		margin: auto;
		background: url(../invasoras/assets/img/invasion/palomilla-del-nopal.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:0% 102%;
	}
	#e1{
		height: 85rem;
	}
	#e2{
		height: 95rem;
	}
	#e3{
		height: 70rem;
	}
  }

.row80{
	display: block;
	max-width: 1200px;
	margin: auto !important;
	width: 80%;
}



/* MEDIA */
/*
  @media (min-width: 576px) {
	.container-sm, .container {
	  max-width: 540px;
	}
  }
  @media (min-width: 768px) {
	.container-md, .container-sm, .container {
	  max-width: 720px;
	}
  }
  @media (min-width: 992px) {
	.container-lg, .container-md, .container-sm, .container {
	  max-width: 960px;
	}
  }
  @media (min-width: 1200px) {
	.container-xl, .container-lg, .container-md, .container-sm, .container {
	  max-width: 1140px;
	}
  }
  @media (min-width: 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	  max-width: 1320px;
	}
  }
  */