body {

  overflow-x: hidden;

}

#download {

  width: 100%;

  height: 60px;

  background-color: #e2b830;

  z-index: 50;

  margin-top: 81px;

  position: relative;

}

#download h2 {

  font-family: gregh;

  font-size: 42px;

  display: inline;

  position: absolute;

  right: 44%;

  margin: 4px auto;

  color: #502914;

}

#download a {

  display: none;

  width: 40px;

  height: 40px;

  background-image: url(../assets/img/imprimir_ico.png);

  background-size: auto 40px;

  position: absolute;

  right: 40%;

  margin-top: 10px;

}

#contenedor {

  position: relative;

  margin: 0px auto;

}

.mapas{

  width: 100%;

  top: 141px;

  left: 0px;

  z-index: 1;

}

.mapa {

  position: absolute;

  top: 0px;

  left: 50%;

  background-repeat: no-repeat;

  background-position: 50% 50%;

  width: 100%;

  height: 100%;

  background-size: 100% auto;

  background-position: 50% 0;

  transform: translateX(-50%);

}

.oculto {

  display: none;

}

#mapaFondo {

  /*background-image: url(../assets/img/conoce/mapas/mapabase.jpg);*/

}

#mapaFondo img {

  width: 100%;

  height: auto;

  max-height: 885px;

  max-width: 1360px;

}

#mapaSelvaHumeda {

  background-image: url(../assets/img/conoce/mapas/selvahumeda.png);

}

#mapaBosqueTemplado {

  background-image: url(../assets/img/conoce/mapas/bosquetemplado.png);

}

#mapaPastizal {

  background-image: url(../assets/img/conoce/mapas/pastizales.png);

}

#mapaMatorral {

  background-image: url(../assets/img/conoce/mapas/matorrales.png);

}

#mapaGolfo {

  background-image: url(../assets/img/conoce/mapas/golfoycaribe.png);

}

#mapaPacifico {

  background-image: url(../assets/img/conoce/mapas/oceanopacifico.png);

}

#mapaCiudades {

  background-image: url(../assets/img/conoce/mapas/zonasurbanas.png);

}

#mapaCampo {

  background-image: url(../assets/img/conoce/mapas/agriculturaganaderia.png);

}

#mapaEstados {

}

#rosa {

  background-image: url(../assets/img/conoce/mapas/rosadelviento.png);

  background-repeat: no-repeat;

  background-position: 50% 50%;

  width: 8%;

  height: 30%;

  top: 540px;

  left: 27%;

  position: fixed;

  background-size: 100% auto;

}

.listaEcosistemas {

  position: absolute;

  width: 200px;

  background-color: #1f232f;

  color: #FFF;

  z-index: 40;

  top: -257px;

  right: 90px;

  font-size: 13px;

  line-height: 26px;

}

.listaEcosistemas ul li {

  cursor: pointer;

}

.listaEcosistemas ul li div{

  position: absolute;

  width: 20px;

  height: 20px;

  border-radius: 50%;

  left: 10px;

  margin-top: 5px;

  background-size: 20px;

}

#upside {

  background-color: #1f232f;

  color: #fff;

  text-align: center;

  font-size: 26px;

  font-family: gregh;

  height: 33px;

  position: absolute;

  width: 200px;

  z-index: 60;

  right: 90px;

}

#downside {

  position: absolute;

  width: 200px;

  height: 30px;

  background-image: url(../assets/img/conoce/mapas/bandera1.png);

  background-size: 242px 39px;

  background-position: -18px 0px;

  z-index: 40;

  top: 273px;

  right: 0;

}

.icoSelvah {

  background-image: url(../assets/img/conoce/mapas/selva_ico.png);

}

.icoBosquet {

  background-image: url(../assets/img/conoce/mapas/bosquet_ico.png);

}

.icoPastizal {

  background-image: url(../assets/img/conoce/mapas/pastizal_ico.png);

}

.icoMatorral {

  background-image: url(../assets/img/conoce/mapas/matorral_ico.png);

}

.icoGolfo {

  background-image: url(../assets/img/conoce/mapas/golfo_ico.png);

}

.icoPacifico {

  background-image: url(../assets/img/conoce/mapas/pacifico_ico.png);

}

.icoCiudad {

  background-image: url(../assets/img/conoce/mapas/ciudad_ico.png);

}

.icoCampo {

  background-image: url(../assets/img/conoce/mapas/campo_ico.png);

}

.icoTodos {

  background-image: url(../assets/img/conoce/mapas/todos_ico.png);

}

.listaEcosistemas ul {

  list-style: none;

}

#puntos {

  display: none;

}

footer {

  position: fixed;

}

#mapaEstados img {

    border: none;

    height: auto;

    width: 100%;

    position: absolute;

}

#maestro {

  display: none;

}