body {
	background-image: repeating-linear-gradient(
					-45deg,
					#cbc1a4 0px,
					#cbc1a4 3px,
					#c2ba9a 3px,
					#c2ba9a 6px
	);
}

#dataRow {
	width: 700px;
	margin-top: 160px !important;
	margin: auto;
	text-align: right;
}

#dataRow > div {

	display: inline-block;

}

#ecosistema {

	clear: both;

}

#espacioTarjetas {

	width: 675px;

	height: 500px;

	background-color: #cec4a4;

	border-radius: 8px;

	margin: 0 auto;

	margin-top: 20px;

}

#ecoName {

	background-image: url(../assets/img/actividades/memoramas/ecoback.png);

	background-size: auto 40px;

	height: 40px;

	width: 113px;

	line-height: 35px;

	text-align: center;

	font-size: 14px;

	color: #f5fcf6;

}

#showTime {

	background-image: url(../assets/img/actividades/memoramas/lineastiempo.png);

	background-color: #942824;

	background-size: auto 40px;

	height: 40px;

	width: 113px;

	line-height: 35px;

	text-align: center;

	font-size: 14px;

	color: #f5fcf6;

}

#numbers {

	background-color: #fcf1c8;

	color: #404e5b;

	padding: 3px;

	line-height: 39px;

}

.tarjeton {

	background-image: url(../assets/img/actividades/memoramas/vuelta.jpg);

	border: 2px solid #3F4F59;

	border-radius: 8px;

	width: 101px;

	height: 131px;

	float: left;

	cursor: pointer;

	background-size: cover;

	margin-left: 10px;

	margin-top: 10px;

}

#lid {

	position: fixed;

	left: 0;

	top: 0;

	width: 100%;

	height: 100%;

	background-color: transparent;

	display: none;

}

#menuCirculo {
	margin-top: 10px;
}

#menuCirculo ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;

}


#menuCirculo ul li {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	margin: 0px 5px;
}


#menuCirculo ul li p {

	text-align: center;

	color: #404e5b;

	font-size: 14px;

}


#menuCirculo .circulo {

	display: block;

	width: 50px;

	height: 50px;

	border: medium none;

	background-image: url("../assets/img/botonescosistemas.png");

	background-color: #404E5B;

	border-radius: 50%;

	line-height: 50px;

	text-align: center;

	font-size: 30px;

	margin: 0px auto;

	text-decoration: none;

	color: #CEC4A4;

	background-size: auto 330%;

}


#felicidades {

	display: none;

}

.titoFeliz {

	float: left;

	width: 225px;

	height: 305px;

	margin: 50px; /*antes 90*/

	background-image: url("../assets/img/actividades/memoramas/titofeliz.png");

	background-size: 90%;

	background-repeat: no-repeat;

}

#datosDer {
	padding-top: 100px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px rgba(0,0,0,0.2);
	margin-right: 0px;
	width: 200px;
	float: left;
  }




#titomemoramas {

	width: 200px;

	height: 390px;

	background-position: 50% 50%;

	margin: 0 auto;

	background-repeat: no-repeat;

	background-image: url(../assets/img/actividades/memoramas/titomemorama.png);

}

#puntos {

	display: none;

}


.selected a {

	background-color: #942829 !important;

	color: #CEC4A4 !important;

}


.selected p {

	color: #942829 !important;

}

#maestro {

	display: none;

}


footer {
	position: fixed !important; 
	bottom: 0;
}


@media only screen and (min-width: 755px) {
	#espacioTarjetas {
	  width: 675px;
	  height: 440px;
	  background-color: #cec4a4;
	  border-radius: 8px;
	  margin: 0 auto;
	  margin-top: 20px;
	}
	
	#menuCirculo ul {
	  padding: 0;
	  margin: 0 auto;
	  width: 620px;
	}
	}
	
  @media only screen and (max-width: 754px) {
  
	#espacioTarjetas {
	  width: 345px;
	  height: 860px;
	  background-color: #cec4a4;
	  border-radius: 8px;
	  margin: 0 auto;
	  margin-top: 20px;
	  clear: both;
	}
  
  
	#menuCirculo ul {
	  padding: 0;
	  margin: 0 auto;
	  width: 355px;
	}
  
	#menuCirculo ul li{
	  margin-left: 11px;
	  margin-right: 11px;
	}
  
	#dataRow {
	  width: 355px;
	  margin: 60px auto 0px;
	  text-align: right;
	}
  
	#datosDer {
		width: 355px !important;
		text-align: center;
		color: #fff;
		text-shadow: 2px 2px rgba(0,0,0,0.2);
		margin-right: 90px;
	  }
  
	#datosDer h2{
	  color: #fff;
	}
  }

  .bottom-spacer-2 {
	width: 100%;
	height: 200px;
  }

  #datosDer h2 {
	font-size: 2em;
  }