section {
  overflow:hidden;
  width: 100%;
  box-shadow: 0px -11px 10px rgba(0, 0, 0, 0.2);
}

.margen{
  z-index: 2;
}
h2{
	margin: 0 auto;
}
#pub1 {
  background-color: #27526b;
  color: #FFF;
  position:relative;
  padding-top:81px;
  z-index: 3;
  height: 324px;
}
#pub1 .margen {
  height: 100%;
}
#pub1 p {
  width: 412px;
  text-align: center;
  top: 0;
  left: 160px;
  position: absolute;
}
#pub1 #titoLibro {
    height: 380px;
	width: 707px;
	background-image: url("../assets/img/materiales/publicaciones/titolibro_ing.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 78px;
	right: 100px;
}
#pub2 {
  background-color: #a6c0cf;
  color: #2c3b3a;
  text-align: center;
  position:relative;
  z-index: 3;
  background-image: url("../assets/img/materiales/publicaciones/patronP.png");
}
#pub2 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub2 ul li {
  width: 230px;
  overflow: hidden;
  height: 230px;
  display: inline-block;
  margin: 25px;
  margin: 0 25px;
}
#pub2 ul li a{
  width: 230px;
  height: 230px;
}
#pub2 ul li a img:first-child{
  width: 230px;
  height: auto;
}
#pub2 ul li a img:last-child{
  width: 230px;
  height: auto;
  position: relative;
}
#pub3 {
  background-color: #27526b;
  color: #FFF;
  position: relative;
  z-index: 3;
  text-align: center;
}
#pub3 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub3 ul li {
  width: 230px;
  overflow: hidden;
  height: 175px;
  display: inline-block;
  margin: 0 25px;
}
#pub3 ul li a{
  width: 230px;
  height: 175px;
}
#pub3 ul li a img:first-child{
  width: 230px;
  height: auto;
}

#pub4 {
  text-align: center;
  background-color: #a6c0cf;
  color: #2C3B3A;
  position: relative;
  z-index: 3;
  min-height: 600px;
  background-image: url("../assets/img/materiales/publicaciones/patronP.png");
}
#pub4 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub4 ul li {
  width: 230px;
  overflow: hidden;
  height: 175px;
  display: inline-block;
  margin: 0 25px;
}
#pub4 ul li a{
  width: 230px;
  height: 175px;
}
#pub4 ul li a img:first-child{
  width: 230px;
  height: auto;
}
#pub5 {
  text-align: center;
  background-color: #27526b;
  color: #FFF;
  position: relative;
  z-index: 5;
}
#pub5 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub5 ul li {
  width: 230px;
  overflow: hidden;
  height: 175px;
  display: inline-block;
  margin: 0 25px;
}
#pub5 ul li a{
  width: 230px;
  height: 175px;
}
#pub5 ul li a img:first-child{
  width: 230px;
  height: auto;
}
#pub6 {
  text-align: center;
  background-color: #a6c0cf;
  color: #2C3B3A;
  position: relative;
  z-index: 6;
  min-height: 600px;
  background-image: url("../assets/img/materiales/publicaciones/patronP.png");
}
#pub6 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub6 ul li {
  width: 230px;
  overflow: hidden;
  height: 230px;
  display: inline-block;
  margin: 10px 25px;
}
#pub6 ul li a{
  width: 230px;
  height: 175px;
}
#pub6 ul li a img:first-child{
  width: 230px;
  height: auto;
}

#pub7 {
  text-align: center;
  background-color: #27526b;
  color: #FFF;
  position: relative;
  z-index: 6;
  min-height: 600px;
}
#pub7 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub7 ul li {
  width: 230px;
  overflow: hidden;
  height: 230px;
  display: inline-block;
  margin: 10px 25px;
}
#pub7 ul li a{
  width: 230px;
  height: 175px;
}
#pub7 ul li a img:first-child{
  width: 230px;
  height: auto;
}



#pub8 {
  text-align: center;
  background-color: #a6c0cf;
  color: #2C3B3A;
  position: relative;
  z-index: 6;
  min-height: 600px;
  background-image: url("../assets/img/materiales/publicaciones/patronP.png");
}
#pub8 ul{
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin: 0;
}
#pub8 ul li {
  width: 230px;
  overflow: hidden;
  height: 230px;
  display: inline-block;
  margin: 10px 25px;
}
#pub8 ul li a{
  width: 230px;
  height: 175px;
}
#pub8 ul li a img:first-child{
  width: 230px;
  height: auto;
}


.bandTitle {
  width: 300px;
  height: 100px;
  background-image: url("../assets/img/materiales/publicaciones/banderatitulo.png");
  background-size: 300px auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.bandTitle p{
  margin: 0 auto;
  width: 242px;
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
}
.subtitle {
	
}
.colecciones {
  background-image: url("../assets/img/materiales/publicaciones/bandera_ing.png");
}

.explora {
  background-image: url("../assets/img/materiales/publicaciones/banderacoleccion_ing.png");
}