body{

	background-color: #13552F;

}

#inicio{

	margin: 0 auto;

	width: 550px;

	top: 100px;

	color: #c9e683;

}

#inicio p{

	color: #9dc63c;

}

#animales{

	margin: 0 auto;

	top: 100px;

	left: 80px;

	color: #9dc63c;

	z-index: 5000;

}

.especie{

	display: inline-block;

	text-align: center;

	cursor: pointer;

}

#e0 {

	position: relative;

}

#e0 img{

    margin: 0 auto;

    margin-top: 50px;

	position: relative;

	z-index: 500;

}

.fondoimg{

	width: 100%;

	margin: 0;

}



.fondoimg img{

	width: 100%;

	height: auto;

}

.modal{

	display: none;

	right: 25%;

	top: 0px;

	width: 1920px;

	height: 1200px;

	background-color: rgba(0,0,0,0.9);

	z-index: 9999;

	position: absolute;

	padding: 30px;

}

.modal p{

	color: #94CF55;

	width: 680px;

	font-size: 20px;

	margin: 0 auto;

	padding: 61px;

}

.imagenModal{

	margin: 0 auto;

	width: 860px;

	margin-top: 150px;

}

.back {

	width: 40px;

	height: 40px;

	background-image: url("../assets/img/iconoscerrar.png");

	background-size: auto 100%;

	z-index: 10;

	right: -8px;

	position: absolute;

	top: -9px;

	cursor: pointer;

}

#overlay{

	position: fixed;

	display: none;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	background-color: rgba(0,0,0,0.7);

	z-index: 9000;

}

.animar {

	width: 80px;

	background-color: #fff;

	display: block;

	margin: 0 auto;

	text-align: center;

	border-radius: 4px;

}

#her_1{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#her_2{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#her_3{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#car_1{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#car_2{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#car_3{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#car_4{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#pla_1{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#pla_2{

	display: none;

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

#fon_1{

	width: 100%;

	height: auto;

	position: absolute;

	z-index: 1000;

}

footer{

	position: fixed;

	display: none;

}