section {

  overflow:hidden;

  width: 100%;

  z-index: 3;

  box-shadow: 0px -11px 10px rgba(0, 0, 0, 0.2);
  background-color: #A5BF41;
	
}

a{
	text-decoration: none;
}

.margen{

  z-index: 4;

  box-sizing: border-box;

}

p {
	text-align: left;
	color: #053521;
}

.textoverde{
	color: #0A5638;
}
.titulo{
	font-weight: bold;
	font-size: 25px;
	color: #053521;
}

#web1 {

  height: 406px;

  background-repeat: no-repeat;

  background-position: 50% 100%;

  background-color: #48502B;

  background-image: url('../assets/img/materiales/recortables/tito.png');

}



#web2 {
 
  background-color: #A5BF41;

  color: #fff;

  text-align: center;

  position: relative;

  background-image: url("../assets/img/materiales/recortables/patron_enlace.png");

}

#web3 {

  background-color: #A5BF41;

  color: #fff;

  text-align: center;

  position: relative;

}

section ul{

  text-align: center;

  margin: 0 auto;

  padding: 0;

  margin: 0;

  margin-bottom: 150px;

}

section ul li {

  width: 400px;
  
  height: 150px;

  overflow: visible;

  display: inline-block;

  margin: 20px 15px;

  vertical-align: top;

}

section ul li a{

  width: 200px;

  position: relative;

}

section ul li a img:first-child{

  width: 200px;

  height: auto;

}

.megatitle {

  height: 50px;

  width: 250px;

  margin: 50px auto;

  background-repeat: no-repeat;

  background-position: 50% 50%;

  background-size: 100% auto;

}

#sitiosweb {

  background-image: url('../assets/img/materiales/recortables/bandera_recortables.png');

}

#sitiosweb1 {

  background-image: url('../assets/img/materiales/recortables/bandera_recortables1.png');

}
#videos {

  background-image: url('../assets/img/materiales/enlaces/bandera_videos.png');

}

.select {

  top: -75px;

  left: -37px;

  width: 268px;

  height: 70px;

  position: absolute;

  background-image: url('../assets/img/materiales/enlaces/seleccion.png');

  background-repeat: no-repeat;

  background-position: 0 0;

  background-size: 268px 70px;

  padding: 12px 0px;

  font-size: 15px;

  text-decoration: none;

  color: #F93;

  display: none;

}

.leftGood {
  width: 49%;
  position: relative;
  float: left;
  margin-top: 40px;
}

.rightBad {
  width: 49%;
  height: 1920px;
  position: relative;
  float: right;
  margin-top: 40px;
}

.leftGood > div{
  width: 70%;
  height: 70px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.leftGood > div > p {
  margin: 12px;
  width: 410px;
  float: right;
  font-size: 18px;
}


.rightBad > div{
  width: 70%;
  height: 70px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.rightBad > div > p {
  margin: 2px 30px;
  width: 410px;
  font-size: 18px;
  padding-top: 10px;
}

footer{
	position:fixed;
	width: 100%;
	bottom: 0;
	background-color:#15774e;;
	left: 0;
	z-index: 2000;
}

