.margen{
  z-index: 4;
  box-sizing: border-box;
}

#web1 {
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #1cabc4;
  background-image: url('../assets/img/materiales/enlaces/tableta.png');
}

#web2 {
  background-color: #1e6471;
  color: #fff;
  text-align: center;
  position: relative;
}
#web3 {
  background-color: #d88f2d;
  color: #fff;
  text-align: center;
  position: relative;
}

#web3 h3 {
  color: #721003;
  text-align: center;
} 


#web2 h3 {color: #b3f2ee;}


/* estilos cuadritos */

.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  z-index: 2;
}
section {
  width: 100%;
  box-sizing: border-box;
  padding: 55px 0; 
  
}

.card {
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}
.card:hover {
  transform:scale(1.1);
}


.card:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}


.card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #262ff;
  height: 135px;
  text-align: center;
  margin: 0 auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0, .1);
}
