.timportante {

	font-size:39px;

	width: 450px;	

}

#logo{
	width: 80%;
    left: 10px;
    padding-top: 40px;
}

#e1{

	width: auto;

	height: 1200px;

}



/*#audioe1{

	top: 72px;

	left: 510px;

}*/



#e1articulo1 {

    padding-top: 50px;

}



#e1 p{

	margin: 0 auto;

}



#e1 h2{

	margin-left: 15%;

}



#e1img1{

bottom: -60%;
right: 62%;
}



#e1 p.timportante{

	margin-top: 9px;

}



#e1img1 img{

	wiidht: 60%;

}



#e2{

	margin: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-left: -60px;
	padding-top: 1010px;
	height: 250px;

}



#e2img1 {
	display: none;
}



#e2img2 {

    display: none;

}

#e2img3 {


}

#e2img4 {

    display: none;

}



#fondoe2 img{
 display: none;
}



