<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(35,56,66,1)"
	indexPageName="r_13_15.html"
	maxCaptionHeight="120"

>
  <image imageURL="images/_MG_9965.jpg"
	thumbURL="thumbs/_MG_9965.jpg"
	linkURL="images/_MG_9965.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9965.jpg">
    <title><![CDATA[En paz con mi naturaleza ]]></title>
    <caption><![CDATA[Jesús Eduardo Hernández Torres  - 14 años - Tlaxcala]]></caption>
  </image>
  <image imageURL="images/_MG_9959.jpg"
	thumbURL="thumbs/_MG_9959.jpg"
	linkURL="images/_MG_9959.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9959.jpg">
    <title><![CDATA[El riñón del planeta ]]></title>
    <caption><![CDATA[Carolina López Gutiérrez -13 años - Tabasco]]></caption>
  </image>
  <image imageURL="images/_MG_9960.jpg"
	thumbURL="thumbs/_MG_9960.jpg"
	linkURL="images/_MG_9960.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9960.jpg">
    <title><![CDATA[Sólo mexicanos ]]></title>
    <caption><![CDATA[Alberto Acosta Segoviano - 15 años - Oaxaca]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 9.jpg"
	thumbURL="thumbs/Cat_13-15_MH 9.jpg"
	linkURL="images/Cat_13-15_MH 9.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 9.jpg">
    <title><![CDATA[Orgullosos hijos de México ]]></title>
    <caption><![CDATA[Anette Córdova Ramírez - 14 años - CDMX]]></caption>
  </image>
  <image imageURL="images/_MG_9970_14.jpg"
	thumbURL="thumbs/_MG_9970_14.jpg"
	linkURL="images/_MG_9970_14.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9970_14.jpg">
    <title><![CDATA[Te estoy sosteniendo]]></title>
    <caption><![CDATA[Karen Daniela Chiquete Martínez - 14 años - Sinaloa]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 3.jpg"
	thumbURL="thumbs/Cat_13-15_MH 3.jpg"
	linkURL="images/Cat_13-15_MH 3.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 3.jpg">
    <title><![CDATA[Animal Legendario ]]></title>
    <caption><![CDATA[Ángel Santiago Arenas Flores - 14 años - CDMX]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 5.jpg"
	thumbURL="thumbs/Cat_13-15_MH 5.jpg"
	linkURL="images/Cat_13-15_MH 5.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 5.jpg">
    <title><![CDATA[Fantasma de paz ]]></title>
    <caption><![CDATA[Ana Sofía Viñas Herrera - 15 años - Estado de México]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 1.jpg"
	thumbURL="thumbs/Cat_13-15_MH 1.jpg"
	linkURL="images/Cat_13-15_MH 1.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 1.jpg">
    <title><![CDATA[¿Y si volvemos atrás? ]]></title>
    <caption><![CDATA[Estéban Barajas Adame - 14 años - Michoacán]]></caption>
  </image>
  <image imageURL="images/_MG_9963.jpg"
	thumbURL="thumbs/_MG_9963.jpg"
	linkURL="images/_MG_9963.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9963.jpg">
    <title><![CDATA[Utopía del mañana urbano ]]></title>
    <caption><![CDATA[Adrián Espino Serrano - 15 años - Querétaro]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 2.jpg"
	thumbURL="thumbs/Cat_13-15_MH 2.jpg"
	linkURL="images/Cat_13-15_MH 2.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 2.jpg">
    <title><![CDATA[Bellezas de mi México ]]></title>
    <caption><![CDATA[Quetzalli Vega Hernández - 13 años - Guanjuato]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 6.jpg"
	thumbURL="thumbs/Cat_13-15_MH 6.jpg"
	linkURL="images/Cat_13-15_MH 6.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 6.jpg">
    <title><![CDATA[Guardianes de México ]]></title>
    <caption><![CDATA[Rosamaría Vanessa Zepeda Rosas - 14 años - CDMX]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 7.jpg"
	thumbURL="thumbs/Cat_13-15_MH 7.jpg"
	linkURL="images/Cat_13-15_MH 7.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 7.jpg">
    <title><![CDATA[The Axolotl ]]></title>
    <caption><![CDATA[Carolina Herrera Arzate - 14 años - Estado de México]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 8.jpg"
	thumbURL="thumbs/Cat_13-15_MH 8.jpg"
	linkURL="images/Cat_13-15_MH 8.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 8.jpg">
    <title><![CDATA[Mi mamá me enseñó ]]></title>
    <caption><![CDATA[Sarahí Rodríguez Alemán- 13 años - Michoacán]]></caption>
  </image>
  <image imageURL="images/_MG_9969_15.jpg"
	thumbURL="thumbs/_MG_9969_15.jpg"
	linkURL="images/_MG_9969_15.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9969_15.jpg">
    <title><![CDATA[Que la naturaleza no se acabe]]></title>
    <caption><![CDATA[Elena Guadalupe Gómez Jiménez - 15 años - Jalisco]]></caption>
  </image>
  <image imageURL="images/_MG_9974_15.jpg"
	thumbURL="thumbs/_MG_9974_15.jpg"
	linkURL="images/_MG_9974_15.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9974_15.jpg">
    <title><![CDATA[También somos mexicanos]]></title>
    <caption><![CDATA[Sureymi Suraydai Puc Ay - 15 años - Yucatán]]></caption>
  </image>
  <image imageURL="images/_MG_9961.jpg"
	thumbURL="thumbs/_MG_9961.jpg"
	linkURL="images/_MG_9961.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9961.jpg">
    <title><![CDATA[Salvemos a la vaquita marina ¡Aún hay esperanzas! ]]></title>
    <caption><![CDATA[Jahayra Guadalupe Ojeda Jiménez - 15 años - Baja California Sur]]></caption>
  </image>
  <image imageURL="images/_MG_9976_15.jpg"
	thumbURL="thumbs/_MG_9976_15.jpg"
	linkURL="images/_MG_9976_15.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/_MG_9976_15.jpg">
    <title><![CDATA[Sabor a México]]></title>
    <caption><![CDATA[Alondra Leilany Delgado Carmona - 15 años - Zacatecas]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 4.jpg"
	thumbURL="thumbs/Cat_13-15_MH 4.jpg"
	linkURL="images/Cat_13-15_MH 4.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 4.jpg">
    <title><![CDATA[Solitario]]></title>
    <caption><![CDATA[Jimena Montserrat Villegas Romero - 13 años - Estado de México]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 9h.jpg"
	thumbURL="thumbs/Cat_13-15_MH 9h.jpg"
	linkURL="images/Cat_13-15_MH 9h.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/Cat_13-15_MH 9h.jpg">
    <title><![CDATA[Un árbol llamado México]]></title>
    <caption><![CDATA[Mariana Franco Garzón - 14 años - Jalisco]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 11_falta.jpg"
	thumbURL="thumbs/Cat_13-15_MH 11_falta.jpg"
	linkURL="images/Cat_13-15_MH 11_falta.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/images/Cat_13-15_MH 11_falta.jpg">
    <title><![CDATA[Los ecosistemas donde vivo]]></title>
    <caption><![CDATA[Berenice Gómez García - 14 años - Campeche]]></caption>
  </image>
  <image imageURL="images/Cat_13-15_MH 10_falta.jpg"
	thumbURL="thumbs/Cat_13-15_MH 10_falta.jpg"
	linkURL="images/Cat_13-15_MH 10_falta.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones13_15/images/Cat_13-15_MH 10_falta.jpg">
    <title><![CDATA[Capilla de Santiago Ignacio]]></title>
    <caption><![CDATA[José Victoriano Castro Gómez - 14 años - Chihuahua]]></caption>
  </image>
</juiceboxgallery>