
@font-face {
	font-family:'Architects Daughter', cursive;
	src:url("../assets/fonts/gregh__-webfont.ttf") format("truetype"),
	url("../assets/fonts/gregh__-webfont.eot") format("emmbedded-opentype"),
	url("../assets/fonts/gregh__-webfont.woff") format("woff"),
	url("../assets/fonts/gregh__-webfont.svg") format("svg");
}

article{
	overflow: hidden;
}

.fondoimg{

	width:100%;

	margin:0;

}



.fondoimg img{

	width:100%;

	height:auto;

}

.timportante{

	color:#FC6;

	width:400px;

}


p{
	color:#FFF;
	width:500px;
	font-size: 18px;
}


section{

	overflow:hidden;

}


/*seccion 1*/

#logo{
	position: relative;
	width: 600px;
	height: auto;
/*	margin: 0 auto;	*/
	margin-top: -15%;
	left: 15%;
}

#e1{

	margin:0;
	padding:0;
	height:1000px;
	background-color:#8ED1C9;
	margin-top:81px;
	width:100%;
	position:relative;

}


#e1articulo1{
	padding-top:96px;
	padding-left:80px;
}

#e1 h2{
	width: 500px;
	color:#314925;
	font-size: 25px;
}

#e1articulo1 p strong{
	color:#FC6;
}

#e1img1{

	width:20px;

	height:auto;

	position: absolute;

	bottom: 0%;

	right: 349px;

/*	transform: translateX(2926%);

	webkit-transform: translateX(2926%);

	-o-transform: translateX(2926%);

	-moz-transform: translateX(2926%);

	-ms-transform: translateX(2926%);*/

}

/*seccion 1*/



/*seccion 2*/

#e2{

	margin:0;
	padding-top: 300px;
	height:1000px;
	background-color:#8ed1c9;
	background-image: url("../assets/img/home/agua3-10.png");
	position: relative;
	background-size: 100% auto;
	background-position: bottom;
	background-repeat:no-repeat;

}



#fondoe2{

	display: none;

}



#e2 h2{

	color: #2D7068;

}



#e2 .margen{

	margin-top: -520px;
	padding-left:200px;
	color:#FC6;

}



#e2img1{

	bottom:10px;

	position:relative;

	width: 50px;

	left: -100px;

}



#e2img2{

	position:absolute; 

	right: -100px;

	top: 250px;

}



#e2img2 img{

	width: 550px;

}

		

#e2img3{

	position: relative;

	right: -950px;

	bottom: 450px;

}

#e2img3 img{

	width:250px;
	
	align-content: center;

}

#e2imgburbuja{

	position:absolute;

	top: 20%;

	left: 20%;

	width:10px;	

}

/*seccion 2*/



/*seccion 3*/

#e3{

	margin:0;

	padding:0;

	height:1400px;

	background-color:#07335B;

	color:#cc7211;

	position:relative;

	padding-top:80px;

}



#e3 h2{

	color:#56E9D9;

}



#e3a1{

    width: 500px;
    height: auto;
    margin-top: -550px;
    right: -320px;
    position: relative;

}




#e3img3{
	
	position: relative;
	
	right: 20px;
	
	top: 50px;
	
}



#e3a3 img{

	margin:0;

	display:inline-block;

}



#e3a3 h2{

	margin:0;

	display:inline-block;

	top: 201px;

	position: absolute;

}



#e3a3 p{

	margin:0;

	display:inline-block;

}



#arbusto2{

	position:absolute;

	bottom:100px;

	width:100%;

}

.numeroslista{
	font-size: 22px;
	color: aqua;
}


/*seccion 3*/













