/* ================================================================ */
/* MEMORY VIEW */
/* ---------------------------------------------------------------- */

/* .view-memory */
.view-memory {
    /*width: inherit;*/
    position: relative;
    /*background-color: #fff;*/
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

    /* -------------------------------- */
    /* .memory-board */
    .memory-info {}
    .memory-info .memory-info-title {
        font-size: 24px;
        font-family: 'McLaren', cursive;
        margin: 0.25em 0;
        float: left;
        width: 85%;
    }
    .memory-info .memory-info-crono {
        margin: 0.25em 0;
        width: 10%;
        font-family: 'McLaren', cursive;
        text-align: right;
        float: right;
    }

    /* -------------------------------- */
    /* .memory-board */
    .memory-board {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        perspective: 2000px;
        perspective-origin: 50% 50%;
    }

    .memory-board span:nth-child( odd ).card {
        /*
        background-color: #d0d0d0;
        background-color: #9cf;
        background-color: rgba(153,204,255,0.25);
        */
    }

    .memory-board .card {
        position: relative;
        width: 140px;
        height: 200px;
        width: 160px;
        height: 140px;

        margin: 5px;
        display: flex;
        box-sizing: border-box;
        /*
        background-color: #9f9f9f;
        background-color: #f99;
        background-color: rgba(255, 153,153,0.25);
        */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 8px;
        /*box-shadow: 0px 4px #cfcfcf;*/
        /*backface-visibility: hidden;*/
        transform-style: preserve-3d;

        transition: border-radius 0.35s ease-in-out 0s, transform 0.35s ease-in-out 0s;
    }
    .memory-board .card:hover {
        /*transform: rotateY(180deg);*/
        /*transform: rotate3d( 0, 1, 0, 180deg);*/
    }

    .memory-board .card.show {
        /*border-radius: 50%;*/
        /*border: 4px solid crimson;*/
        /*transform: rotateY(180deg);*/
        transform: rotate3d( 0, 1, 0, 180deg);
    }
    .memory-board .card.matched {
        /*border-radius: 50%;*/
        /*border: 8px solid cornflowerblue;*/
        /*opacity: 0.55;*/
        /*transform: rotateY(180deg);*/
        -webkit-transform: rotate3d( 0, 1, 0, 180deg) scale3d(0.9, 0.9, 1) translateZ(0);
        transform: rotate3d( 0, 1, 0, 180deg) scale3d(0.9, 0.9, 1) translateZ(0);

        -webkit-transform: rotate3d( 0, 1, 0, 180deg) translateZ(0);
        transform: rotate3d( 0, 1, 0, 180deg) translateZ(0);

        -webkit-animation: animationZoomMatched 0.5s linear 0.25s;
        animation: animationZoomMatched 0.5s linear 0.25s;
    }
    .memory-board .card.matched .card-front{
        filter: drop-shadow(0px 0px 10px cornflowerblue);
        filter: drop-shadow(0px 0px 10px #cf0);
        filter: drop-shadow(0px 0px 10px #2D7068);
    }

    .memory-board .card .card-face {
        text-transform: uppercase;
        font-size: 1.5em;
        position: absolute;
        width: inherit;
        height: inherit;
        background-position: center;
        background-size: cover;
        backface-visibility: hidden;
    }

    .memory-board .card .card-front {
        /*background-color: rgba(0, 255, 255, 0.5);*/
        /*background-color: rgba(255, 153,153,1);*/
        /*background-color: rgba(255, 153,153,0.25);*/
        /*transform: rotateY(180deg);*/
        transform: rotate3d( 0, 1, 0, 180deg);
    }
    .memory-board span:nth-child( odd ) .card-front {
        /*
        background-color: #9cf;
        */
        /*background-color: rgba(153,204,255,0.25);*/
    }

    .memory-board .card .card-back {
        /*
        background-color: rgba(232, 0, 221, 0.5);
        background-color: rgba(153,204,255,1);
        background-color: rgba(153,204,255,0.25);
        color: purple;
        color: #FFEB3B;
        background-color: purple;
        */
        background-image: url(../../_imgs/views-imgs/view-memory/memory-assets/Tarjeta.png);
        transform: translateZ(1px);
    }
    /*
    */
    .memory-board.helpmode .card .card-back:after {
        content: attr( data-card );
        /*display: block;*/
        background-color: #299;
        background-color: #e91e63;
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        font-size: 1em;
        padding: 8px;
        border-radius: 8px;
    }
    .memory-board .card .card-back.especie {
        background-image: url(../../_imgs/views-imgs/view-memory/memory-assets/especie.png);
    }
    .memory-board .card .card-back.accionpositiva {
        background-image: url(../../_imgs/views-imgs/view-memory/memory-assets/accionpositiva.png);
    }
    .memory-board .card .card-back.consecuencia {
        background-image: url(../../_imgs/views-imgs/view-memory/memory-assets/consecuencia.png);
    }

    .memory-board span:nth-child( odd ) .card-back {
        /*background-color: rgba(255, 153,153,0.25);*/
    }


    /* -------------------------------- */
    /* .memory-list */
    .memory-list {
        position: absolute;
        left: -44px;
        bottom: 12px;
        /* margin: 20px 0 0 0; */
        padding: 8px 0;
        /* width: 100%; */
        height: 242px;
        /* background-color: #f99; */
        /*background-color: rgba(255,153,153,0.25);*/
        box-sizing: border-box;
    }
    .memory-list .options-list-label {
        position: absolute;
        width: 100%;
        bottom: -20px;
        text-align: center;
        font-weight: bold;
    }

    .memory-list .options-list-title {
        /*position: absolute;*/
        margin: 20px 0 0 0;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        color: #3399ff;
    }

    .memory-list ul,.memory-list ul li {
        padding: 0;
        margin: 0;
    }

    .memory-list ul {
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .memory-list ul li {
        list-style: none;
        /*
        display: flex;
        */
        position: relative;
        width: 70px;
        height: 70px;
        box-sizing: border-box;
        background-size: contain;
        background-position: center;
        align-items: center;
        justify-content: center;
        margin: 8px;
        border-radius: 50%;
        cursor: pointer;
        border: 8px solid #634531;
        background-color: #634531;
        /*
        -webkit-filter: grayscale( 100% ) brightness( 175% );
        filter: grayscale( 100% ) brightness( 175% );
        */
        transition: transform 0.35s ease-in-out;
    }
    .memory-list ul li.current,
    .memory-list ul li:not( .made ):hover {
        /*
        -webkit-filter: grayscale( 0% ) brightness( 100% );
        filter: grayscale( 0% ) brightness( 100% );
        */
        -webkit-animation: animationActiveoption 1s linear 0s infinite alternate;
        animation: animationActiveoption 1s linear 0s infinite alternate;
    }
    .memory-list ul li::before {
        position: absolute;
        top: 8px;
        left: -50px;
        width: 130px;
        padding: 4px;
        border-radius: 20px;

        /*height: 50px;*/
        background-color: white;
        color: #634531;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border: 4px solid #634531;
        content: attr( data-title );
        opacity: 0;
        transition: opacity 0.35s ease-in-out 0s, transform 0.35s ease-in-out 0s;
    }
    .memory-list ul li:hover::before {
        opacity: 1;
        transform: translate3d(120px,0px,0px);
    }
    .memory-list ul li:hover {
        /*transform: scale3d(1.25, 1.25, 1);*/
    }

    .memory-list ul li span {
        /*background-color: rgba(255,200,255,1);*/
        /*color: #fff;*/
        /*color: #8e8;*/
        font-size: 18px;
    }

    .memory-board-modal {
        position: absolute;
        background-color: rgba(0,100,255,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -60px;
        width: 100%;
        height: 100%;
    }
    .memory-board-modal .memory-message {
        position: relative;
        /*background-color: rgba(255,255,255,0.85);*/
        background-image: url(../../_imgs/views-imgs/view-memory/memory-assets/Luna-3-blank.png);
        box-sizing: border-box;
        padding: 20px;
        top: 0;
        left: 0;
        width: 547px;
        height: 606px;
        border-radius: 8px;
    }
    .memory-board-modal .memory-message .memory-message-text {
        position: absolute;
        color: #402D26;
        width: 420px;
        bottom: 24px;
        left: 72px;
        font-size: 1.1em;
        /*background-color: aquamarine;*/
        text-align: center;
        height: auto;
        font-family: 'McLaren', cursive;
    }
    .memory-board-modal .btn-next {
        position: absolute;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 8px;
        margin: 4px auto;
        border: 1px solid #66f;
        border-radius: 4px;
        background-color: transparent;
        color: #222;
        display: block;
        cursor: pointer;
        transition: background-color 0.35s ease-in-out;
    }

    .memory-board-modal .btn-next:hover {
        background-color: #fc6;
        background-color: #66f;
        color: white;
    }

    .twelve-game-guide {
        position: absolute;
        background-color: rgba(0,100,255,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -60px;
        width: 100%;
        height: 100%;
    }
    .twelve-game-guide .btn-close-pdf {
        display: block;
        background-color: #634531;
        color: white;
        border: 4px solid white;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 64px;
        padding: 8px;
        border-radius: 16px;
        width: 82px;
        text-align: center;
    }
    .twelve-game-guide .twelve-game-pdf {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

/* ================================================================ */
@-webkit-keyframes animationZoomin {
    0% {
        /*opacity: 1;*/
        -webkit-filter: brightness( 100% );
        filter: brightness( 100% );
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        transform: scale3d(0.5, 0.5, 0.5);
    }
    50% {
        /*opacity: 0;*/
        -webkit-filter: brightness( 300% );
        filter: brightness( 300% );
    }
    100% {
        /*opacity: 1;*/
        -webkit-filter: brightness( 100% );
        filter: brightness( 100% );
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes animationZoomin {
    0% {
        /*opacity: 1;*/
        -webkit-filter: brightness( 100% );
        filter: brightness( 100% );
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        transform: scale3d(0.5, 0.5, 0.5);
    }
    50% {
        /*opacity: 0;*/
        -webkit-filter: brightness( 300% );
        filter: brightness( 300% );
    }
    100% {
        /*opacity: 1;*/
        -webkit-filter: brightness( 100% );
        filter: brightness( 100% );
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* ================================================================ */
@-webkit-keyframes animationZoomMatched {
    0% {
        -webkit-transform: scale3d(1, 1, 1) translateZ(0);
        transform: scale3d(1, 1, 1)  translateZ(0);
    }
    50% {
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translateZ(0);
        transform: scale3d(0.5, 0.5, 0.5)  translateZ(0);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1) translateZ(0);
        transform: scale3d(1, 1, 1)  translateZ(0);
    }
}
@keyframes animationZoomMatched {
    0% {
        -webkit-transform: scale3d(1, 1, 1) translateZ(0);
        transform: scale3d(1, 1, 1)  translateZ(0);
    }
    50% {
        -webkit-transform: scale3d(0.5, 0.5, 0.5) translateZ(0);
        transform: scale3d(0.5, 0.5, 0.5)  translateZ(0);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1) translateZ(0);
        transform: scale3d(1, 1, 1)  translateZ(0);
    }
}

@-webkit-keyframes animationActiveoption {
    0%   { border-color: #634531; background-color: #634531; }
    100% { border-color: #B1A298; background-color: #B1A298; }
}
@keyframes animationActiveoption {
    0%   { border-color: #634531; background-color: #634531; }
    100% { border-color: #B1A298; background-color: #B1A298; }
}
