section {

	overflow:hidden;

}

.nar {

	color: #FFBC2E;

}

#e1 {

 	background-color: #76989A;

 	color: #193133;

 	position:relative;

	top: 30px;

 	z-index: 3;

 	min-height: 1300px;

	padding: 25px;

}

p{

	text-align: left;

}

#e1 h2 {

	line-height: 100%;

}

#e2 {

 	background-color: #5E2B3C;

 	color: #DCBCC7;

 	top:15px;

 	position:relative;

 	min-height: 1000px;

	padding: 20px;

 }

#e2 h2 {

	color: #D5A133;

	line-height: 100%;

}

#ima1_e2 img {

	margin-left: -15%;

}

#e3 {

 	background-color: #204844;

 	color: #0B2F2B;

 	top:-20px;

 	position:relative;

 	min-height: 1700px;

	padding: 20px;

}

.timportante {

	text-align: center;

	display: inherit;

}

#e3 #nativas {

	background-color: #225049;

	width: 100%;

}

#e3 #nativas1 {

	display: inline-block;

	background-color: #367E64;

	vertical-align: top;

	padding: 18px 10px;

	padding-left: 20px;

}

#e3 #nativas1{

	text-align: center;

}

#e3 #nativas2 {

	display: inline-block;

	background-color: #53967E;

	text-align: center;

	padding: 18px 10px;

	padding-left: 20px;

}

.blanco {

	color: white;

}

#e3 #exoticas1 .timportante {

	text-align: left;

}

#e3 #exoticas {

	background-color: #225049;

	width: 100%;

}

#e3 #exoticas1 {

	display: inline-block;

	background-color: #934F29;

	vertical-align: top;

	padding: 20px;

	text-align: center;

}

#e3 #exoticas2 {

	display: inline-block;

	background-color: #996533;

	padding: 20px;

	vertical-align: top;

	text-align: center;

}

#e4 {

 	background-color: #1B1D12;

 	color: #D4D8A5;

	margin-top: -60px;

 	position:relative;

 	min-height: 1000px;

	padding: 20px;

}

