body{
	background-color: #000;
	color: #fff;
}

.centro{
	text-align: center;
}

logotipo img{
	width: 90%;
	height: auto;
	margin: 0 auto;
	left: 24%;
	top: 10px;
	position: absolute;
}
.fondoimg img{
	width: 100%;
	height: auto;
}
.fondoimg img{
	width: 100%;
	height: auto;
}
#modalcontent{
	margin-top: -10px;
	color: #6C7286;
	padding: 20px;
	background-color: #dddddd;
}
h2{
	color: #545972;
	margin: 0 auto;
	padding: 0px;
	font-size: 30px;
}

.redes{
	height:35px;
	width:50px;
	display: inline-block;
	position: relative;
	left: 5px;
	background-image: url('../assets/img/redes_movil.png');
	background-size: 35px auto;
	background-repeat: no-repeat;
}

.redes a{
	display:block;
	height:35px;
	width:35px;
}

#face{
	bottom: 0px;
	right: 10px;
	background-position: 0px -38px;
}

#twitter{
	bottom: 0px;
	right: 45px;
	background-position: 0px -3px;	
}

#youtube{	
	bottom: 0px;
	right: 90px;
	background-position: 0px -74px;
}

#vimeo{
	bottom: 0px;
	right: 135px;
	background-position: 0px -110px;
}
