body{
	background-color: #c41a7b;
	color: rgb(233, 244, 218);
}

p{
	font-family:"mclaren-regular";
	width: 100%;
	padding: 15px;
	margin-top: -6px;
}
h3{
	padding: 5px;
	font-family:"mclaren-regular";
}
div{
	padding: -20px;
}
div > img{
	width: 100%;
	height: auto;
}
#accordion {
	/*margin-top: 50px;*/
	
}
footer{
	display: none;
}
.regiones{
/*	padding-bottom: 40px;*/
	font-family:"mclaren-regular";
	font-size: 26px;
	width: auto;
	height: 60px;
	vertical-align: central;
	/*background-color: #244068;*/
}

#mexico{
	background-color: #c41a7b;
	height: auto;
	padding-top: 10px;
}

#mexico h2{
	color: #9C3;
	padding-left: 20px;
}
.Mexico{
	background-color: #88245d;
	font-family:"mclaren-regular";
	
}
/*CONTENIDO*/
.Mexico .ui-widget-content{
	background-color: #88245d;
	color: #FFF;
}
/*TITULOS*/
.Mexico .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #88245d;
	color: #FFF;
}
.Mexico .ui-state-default:hover{
	color: #FFF;
}
/*cuando estas en la pestaña*/
.Mexico .ui-state-focus{
	background-color: #88245d;
	color: #FFF;
}



#africa{
	background-color: #7B5555;
	height: auto;
	padding-top: 40px;
}
#africa h2{
	color: #E9F4DA;
	padding-left: 20px;
}
.Africa{
	background-color: #000;
}
/*CONTENIDO*/
.Africa .ui-widget-content{
	background-color: #7DA101;
	color: #031B11;
}
/*TITULOS*/
.Africa .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #7DA101 !important;
	color: #D007;
}
.Africa .ui-state-default:hover{
	color:  #D3E694;
}
/*cuando estas en la pestaña*/
.Africa .ui-state-focus{
	background-color: #7DA101 !important;
	color: #D3E694;
}
.Africa .ui-widget-header {
	background-color: #7DA101 !important;
	color: #D3E694 !important;
}

#asia{
	background-color: #30503F;
	height: auto;
	padding-top: 40px;
}
#asia h2{
	color: #83CE67;
	padding-left: 20px;
}
.Asia{
	background-color: #000;
}
/*CONTENIDO*/
.Asia .ui-widget-content{
	background-color: #802520;
	color: #FFF;
}
/*TITULOS*/
.Asia .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #802520 !important;
	color: #FFF !important;
}
.Asia .ui-state-default:hover{
	color: #FFF;
}
/*cuando estas en la pestaña*/
.Asia .ui-state-focus{
	background-color: #B34B45 !important;
	color: #FFF;
}
.Asia .ui-widget-header{
	background-color: #032A26 !important;
	color: #FFF !important;
}


#australia{
	background-color: #1E6169;
	height: auto;
	padding-top: 40px;
	color: #BBE4DA;
}
#australia h2{
	color: #31B3A0;
	padding-left: 20px;
}
.Australia{
	background-color: #000;
}
/*CONTENIDO*/
.Australia .ui-widget-content{
	background-color: #D69106;
	color: #064414;
}
/*TITULOS*/
.Australia .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #D69106;
	color: #000D;
}
.Australia .ui-state-default:hover{
	color: #FFF;
}
/*cuando estas en la pestaña*/
.Australia .ui-state-focus{
	background-color: #B6821A;
}
.Australia .ui-widget-header {
	background-color: #11313E;
	color: #FFF;
}


#europa{
	background-color: #CEA23A;
	height: auto;
	padding-top: 40px;
	color: #532A0C;
}
#europa h2{
	color: #B35631;
	padding-left: 20px;
}
.Europa{
	background-color: #000;
}
/*CONTENIDO*/
.Europa .ui-widget-content{
	background-color: #15774E;
	color: #FFF;
}
/*TITULOS*/
.Europa .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #18764C;
	color: #FFF;
}
/*cuando estas en la pestaña*/
.Europa .ui-state-focus{
	background-color: #2BB179;
}
.Europa .ui-widget-header {
	background-color: #15774E;
	color: #F0EC9F;
}



#norte{
	background-color: #813C0A;
	height: auto;
	padding-top: 40px;
	color: #EFDF8C;
}
#norte h2{
	color: #EDB734;
	padding-left: 20px;
}
.Norte{
	background-color: #000;
}
/*CONTENIDO*/
.Norte .ui-widget-content{
	background-color: #CEA23A;
	color: #532A0C;
}
/*TITULOS*/
.Norte .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #55395F;
	color: #FFF;
}
/*cuando estas en la pestaña*/
.Norte .ui-state-focus{
	background-color: #482356;
}
.Norte .ui-widget-header {
	background-color: #B06A10;
	color: #FFF;
}


#sur{
	background-color: #696F50;
	height: auto;
	padding-top: 40px;
	color: #E6EC90;
}
#sur h2{
	color:  #E6EC90;
	padding-left: 20px;
}
.Sur{
	background-color: #000;
}
/*CONTENIDO*/
.Sur .ui-widget-content{
	background-color: #696F50;
	color: #FFF;
}
/*TITULOS*/
.Sur .ui-state-default{
	font-family:"mclaren-regular";
	font-size: 20px;
	background-color: #2B8897;
	color: #FFF;
}
/*cuando estas en la pestaña*/
.Sur .ui-state-focus{
	background-color: #1D5C66;
}
.Sur .ui-widget-header {
	background-color: #B06A10;
	color: #FFF;
}



#1{
	background-color: #244068 !important;
}
#2{
	background-color: #779020 !important;
}
#3{
	background-color: #AA332C !important;
}
#4{
	background-color: #AD7C1B !important;
}
#5{
	background-color: #22A26E !important;
}
#6{
	background-color: #244068 !important;
}
#7{
	background-color: #28A7BC !important;
}

.redes{
	height:35px;
	width:50px;
	display: inline-block;
	position: relative;
	left: 5px;
	background-image: url('../assets/img/polinizadores/polinizadores.png');
	background-size: 35px auto;
	background-repeat: no-repeat;
}

.redes a{
	display:block;
	height:35px;
	width:35px;
}

#face{
	bottom: 0px;
	right: 10px;
	background-position: 0px -38px;
}

#twitter{
	bottom: 0px;
	right: 45px;
	background-position: 0px -3px;	
}

#youtube{	
	bottom: 0px;
	right: 90px;
	background-position: 0px -74px;
}

#vimeo{
	bottom: 0px;
	right: 135px;
	background-position: 0px -110px;
}

.centro{
	text-align: center;
}
