body{

	 background-color: #27526b;

}

section {

  overflow:hidden;

  width: 100%;

  box-shadow: 0px -11px 10px rgba(0, 0, 0, 0.2);

  margin-top: 60px;

  padding: 20px;

}

h2{

	margin: 0 auto;

}

.subtitle{

	font-size: 20px;

}

#pub1 {

  background-color: #27526b;

  color: #FFF;

  position:relative;

  padding-top:10px;

  z-index: 3;

  height: 280px;

}

#pub1 p {

  width: 90%;

  text-align: center;

  top: 0;

}

#titoLibro{

	width: 200px;

	height: auto;

	margin: 0 auto;

	top: 0px;

	left: 0px;

}

#pub3 {

  background-color: #a6c0cf;

  color: #27526b;

  position: relative;

  z-index: 3;

  text-align: center;

}

#pub3 ul{

  text-align: center;

  margin: 0 auto;

  padding: 30px;

  margin: 0;

}

#pub4 {

  background-color: #a6c0cf;

  color: #27526b;

  position: relative;

  z-index: 3;

  text-align: center;

}

#pub4 ul{

  text-align: center;

  margin: 0 auto;

  padding: 30px;

  margin: 0;

}

#pub5 {

  background-color: #a6c0cf;

  color: #27526b;

  position: relative;

  z-index: 3;

  text-align: center;

}

#pub5 ul{

  text-align: center;

  margin: 0 auto;

  padding: 30px;

  margin: 0;

}

#pub6 {

  background-color: #a6c0cf;

  color: #27526b;

  position: relative;

  z-index: 3;

  text-align: center;

}

#pub6 ul{

  text-align: center;

  margin: 0 auto;

  padding: 30px;

  margin: 0;

}



