body{

	background-color: #000;

	color: #fff;

}



logotipo img{

	width: 90%;

	height: auto;

	margin: 0 auto;

	left: 24%;

	top: 10px;

	position: absolute;

}

.fondoimg img{

	width: 100%;

	height: auto;

}

.fondoimg img{

	width: 100%;

	height: auto;

}

#modalcontent{

	margin-top: -10px;

	color: #124D17;

	padding: 20px;

	background-color: #E6F2C0;

}

h2{

	color: #545972;

	margin: 0 auto;

	width: 90%;

	padding: 0px;

	font-size: 35px;

}

