<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	indexPageName="r_10-12.html"
	backgroundColor="rgba(35,56,66,1)"

>
  <image imageURL="images/_MG_9950.jpg"
	thumbURL="thumbs/_MG_9950.jpg"
	linkURL="images/_MG_9950.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9950.jpg">
    <title><![CDATA[La naturaleza felina mexicana]]></title>
    <caption><![CDATA[Cristóbal Oropeza Rivera - 12 años - Aguascalientes]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MH 2.jpg"
	thumbURL="thumbs/Cat_10-12_MH 2.jpg"
	linkURL="images/Cat_10-12_MH 2.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/Cat_10-12_MH 2.jpg">
    <title><![CDATA[Desde el río Hondo ]]></title>
    <caption><![CDATA[Erandi Cedeño Zacarías -12 años - Quintana Roo]]></caption>
  </image>
  <image imageURL="images/_MG_9952.jpg"
	thumbURL="thumbs/_MG_9952.jpg"
	linkURL="images/_MG_9952.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9952.jpg">
    <title><![CDATA[Los ecosistemas en donde vivo]]></title>
    <caption><![CDATA[Sophia Cuevas Hidalgo - 10 años - Morelos]]></caption>
  </image>
  <image imageURL="images/_MG_9951.jpg"
	thumbURL="thumbs/_MG_9951.jpg"
	linkURL="images/_MG_9951.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9951.jpg">
    <title><![CDATA[El Jaguar]]></title>
    <caption><![CDATA[Ariana Karely Gil Lucas - 12 años - Quintana Roo]]></caption>
  </image>
  <image imageURL="images/_MG_9953.jpg"
	thumbURL="thumbs/_MG_9953.jpg"
	linkURL="images/_MG_9953.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9953.jpg">
    <title><![CDATA[La laguna y yo]]></title>
    <caption><![CDATA[Erika C. Anduága Vázquez - 11 años - Quintana Roo]]></caption>
  </image>
  <image imageURL="images/_MG_9954.jpg"
	thumbURL="thumbs/_MG_9954.jpg"
	linkURL="images/_MG_9954.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9954.jpg">
    <title><![CDATA[La contaminación]]></title>
    <caption><![CDATA[Dulce María Soltero Flores - 12 años - Colima]]></caption>
  </image>
  <image imageURL="images/_MG_9955.jpg"
	thumbURL="thumbs/_MG_9955.jpg"
	linkURL="images/_MG_9955.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9955.jpg">
    <title><![CDATA[Si amas a México desde sus raíces crecerá de las ramas]]></title>
    <caption><![CDATA[Flavio Miranda Macedo 12 años - Nuevo León]]></caption>
  </image>
  <image imageURL="images/_MG_9956.jpg"
	thumbURL="thumbs/_MG_9956.jpg"
	linkURL="images/_MG_9956.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9956.jpg">
    <title><![CDATA[¡Los animales del sur, también tienen derecho a la naturaleza!]]></title>
    <caption><![CDATA[Xally Valeria García Sánchez - 10 años - Estado de México]]></caption>
  </image>
  <image imageURL="images/_MG_9957.jpg"
	thumbURL="thumbs/_MG_9957.jpg"
	linkURL="images/_MG_9957.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/_MG_9957.jpg">
    <title><![CDATA[Sembrando la vida]]></title>
    <caption><![CDATA[José Miguel Bravo Anaya - 12 años - Guerrero]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MH 1.jpg"
	thumbURL="thumbs/Cat_10-12_MH 1.jpg"
	linkURL="images/Cat_10-12_MH 1.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/Cat_10-12_MH 1.jpg">
    <title><![CDATA[¡¡Buen provecho!! ]]></title>
    <caption><![CDATA[Uriel Abalos López  - 12 años - Tabasco]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MH RecEspecial 1.jpg"
	thumbURL="thumbs/Cat_10-12_MH RecEspecial 1.jpg"
	linkURL="images/Cat_10-12_MH RecEspecial 1.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/Cat_10-12_MH RecEspecial 1.jpg">
    <title><![CDATA[Plantas nativas del desierto ]]></title>
    <caption><![CDATA[Xochitl Orquídea de la Cruz Santiago - 11 años - Baja California]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MH RecEspecial 2.jpg"
	thumbURL="thumbs/Cat_10-12_MH RecEspecial 2.jpg"
	linkURL="images/Cat_10-12_MH RecEspecial 2.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/images/Cat_10-12_MH RecEspecial 2.jpg">
    <title><![CDATA[El maguey pulquero y su preservación en la cultura y naturaleza de México ]]></title>
    <caption><![CDATA[Agustín De Silva Lobo - 10 años - Querétaro]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MH 3_falta.jpg"
	thumbURL="thumbs/Cat_10-12_MH 3_falta.jpg"
	linkURL="images/Cat_10-12_MH 3_falta.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/Cat_10-12_MH 3_falta.jpg">
    <title><![CDATA[Nos alimentamos de naturaleza]]></title>
    <caption><![CDATA[Santiago Esteban Flores - 12 años - Durango]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MHe 8.jpg"
	thumbURL="thumbs/Cat_10-12_MHe 8.jpg"
	linkURL="images/Cat_10-12_MHe 8.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/Cat_10-12_MHe 8.jpg">
    <title><![CDATA[Un mundo de colores]]></title>
    <caption><![CDATA[Vicente Rodea Rodríguez - 11 años - San Luis Potosí]]></caption>
  </image>
  <image imageURL="images/Cat_10-12_MH 4_falta.jpg"
	thumbURL="thumbs/Cat_10-12_MH 4_falta.jpg"
	linkURL="images/Cat_10-12_MH 4_falta.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones10_12/Cat_10-12_MH 4_falta.jpg">
    <title><![CDATA[Los diversos ecositemas en México]]></title>
    <caption><![CDATA[Osvaldo Kenai Torres Pulgarín - 12 años - Coahuila]]></caption>
  </image>
  <image imageURL="images/_MG_9966.jpg"
	thumbURL="thumbs/_MG_9966.jpg"
	linkURL="images/_MG_9966.jpg"
	linkTarget="_blank"
	sourcePath="/Users/adoming/Desktop/_MG_9966.jpg">
    <title><![CDATA[Los ecosistemas donde vivo]]></title>
    <caption><![CDATA[Dulce Jazmin Angeles Camacho - 11 años - Hidalgo]]></caption>
  </image>
  <image imageURL="images/_MG_9967.jpg"
	thumbURL="thumbs/_MG_9967.jpg"
	linkURL="images/_MG_9967.jpg"
	linkTarget="_blank"
	sourcePath="/Users/adoming/Desktop/_MG_9967.jpg">
    <title><![CDATA[El camino a la Biósfera "El cielo"]]></title>
    <caption><![CDATA[Marcelo Nahar Torres Tamborrell - 10 años - Tamaulipas]]></caption>
  </image>
  <image imageURL="images/_MG_9972.jpg"
	thumbURL="thumbs/_MG_9972.jpg"
	linkURL="images/_MG_9972.jpg"
	linkTarget="_blank"
	sourcePath="/Users/adoming/Desktop/_MG_9972.jpg">
    <title><![CDATA[The mountain green]]></title>
    <caption><![CDATA[Valentín Salazar Luna  - 12 años - Veracruz]]></caption>
  </image>
</juiceboxgallery>