<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	indexPageName="r_6-9.html"
	backgroundColor="rgba(35,56,66,1)"

>
  <image imageURL="images/_MG_9948.jpg"
	thumbURL="thumbs/_MG_9948.jpg"
	linkURL="images/_MG_9948.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9948.jpg">
    <title><![CDATA[Cardenal en cactus]]></title>
    <caption><![CDATA[Matías Fajardo Becerra - 8 años - CDMX]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 7_falta.jpg"
	thumbURL="thumbs/Cat_6-9_MH 7_falta.jpg"
	linkURL="images/Cat_6-9_MH 7_falta.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/Cat_6-9_MH 7_falta.jpg">
    <title><![CDATA[Los ecosistemas donde vivo]]></title>
    <caption><![CDATA[Azael Cortez Silva - 7 años - Puebla]]></caption>
  </image>
  <image imageURL="images/_MG_9947.jpg"
	thumbURL="thumbs/_MG_9947.jpg"
	linkURL="images/_MG_9947.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9947.jpg">
    <title><![CDATA[Las garzas]]></title>
    <caption><![CDATA[Leonardo Bernal Pérez - 9 años - Quintana Roo]]></caption>
  </image>
  <image imageURL="images/_MG_9942.jpg"
	thumbURL="thumbs/_MG_9942.jpg"
	linkURL="images/_MG_9942.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9942.jpg">
    <title><![CDATA[Démosle una mano ]]></title>
    <caption><![CDATA[José Alfredo Farelos Ovando - 9 años - Chiapas]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 1.jpg"
	thumbURL="thumbs/Cat_6-9_MH 1.jpg"
	linkURL="images/Cat_6-9_MH 1.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/Cat_6-9_MH 1.jpg">
    <title><![CDATA[El pez león no es amigo ]]></title>
    <caption><![CDATA[Alejandro de Jesús Lobiera Gómez - 9 años - Oaxaca]]></caption>
  </image>
  <image imageURL="images/_MG_9943.jpg"
	thumbURL="thumbs/_MG_9943.jpg"
	linkURL="images/_MG_9943.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9943.jpg">
    <title><![CDATA[Nos alimentamos de la naturaleza]]></title>
    <caption><![CDATA[Yovanni Baños Sarmiento - 9 años - Oaxaca]]></caption>
  </image>
  <image imageURL="images/_MG_9949.jpg"
	thumbURL="thumbs/_MG_9949.jpg"
	linkURL="images/_MG_9949.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9949.jpg">
    <title><![CDATA[Salven la selva]]></title>
    <caption><![CDATA[Yael Chamorro Saldaña - 6 años - Tlaxcala]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 4.jpg"
	thumbURL="thumbs/Cat_6-9_MH 4.jpg"
	linkURL="images/Cat_6-9_MH 4.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/Cat_6-9_MH 4.jpg">
    <title><![CDATA[Mi barranca ]]></title>
    <caption><![CDATA[Iker Cariat Amacende Rosas - 8 años - Morelos]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 5.jpg"
	thumbURL="thumbs/Cat_6-9_MH 5.jpg"
	linkURL="images/Cat_6-9_MH 5.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/Cat_6-9_MH 5.jpg">
    <title><![CDATA[Los ecosistemas ]]></title>
    <caption><![CDATA[Axel Martínez Ramírez - 9 años - Oaxaca]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 6.jpg"
	thumbURL="thumbs/Cat_6-9_MH 6.jpg"
	linkURL="images/Cat_6-9_MH 6.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/Cat_6-9_MH 6.jpg">
    <title><![CDATA[Nuestras raíces, el campo ]]></title>
    <caption><![CDATA[Sophie García Jiménez - 8 años - Estado de México]]></caption>
  </image>
  <image imageURL="images/_MG_9945.jpg"
	thumbURL="thumbs/_MG_9945.jpg"
	linkURL="images/_MG_9945.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9945.jpg">
    <title><![CDATA[Mi ecosistema]]></title>
    <caption><![CDATA[Yuritzi Yoseline Alvarado Álvarez - 6 años - Nayarit]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 2.jpg"
	thumbURL="thumbs/Cat_6-9_MH 2.jpg"
	linkURL="images/Cat_6-9_MH 2.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/Cat_6-9_MH 2.jpg">
    <title><![CDATA[Salvemos a Xólotl ]]></title>
    <caption><![CDATA[Lía Seleisha Brito Lugo - 9 años - Morelos]]></caption>
  </image>
  <image imageURL="images/_MG_9946.jpg"
	thumbURL="thumbs/_MG_9946.jpg"
	linkURL="images/_MG_9946.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/_MG_9946.jpg">
    <title><![CDATA[Sin título]]></title>
    <caption><![CDATA[Ollin García Tapia - 8 años - CDMX]]></caption>
  </image>
  <image imageURL="images/_MG_9984.jpg"
	thumbURL="thumbs/_MG_9984.jpg"
	linkURL="images/_MG_9984.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/_MG_9984.jpg">
    <title><![CDATA[Fuerza en el corazón]]></title>
    <caption><![CDATA[Lucianna Gordón García - 6 años - CDMX]]></caption>
  </image>
  <image imageURL="images/Cat_6-9_MH 3.jpg"
	thumbURL="thumbs/Cat_6-9_MH 3.jpg"
	linkURL="images/Cat_6-9_MH 3.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/reconocimiento/menciones6_9/images/Cat_6-9_MH 3.jpg">
    <title><![CDATA[Los ecosistemas donde vivo ]]></title>
    <caption><![CDATA[Jazmín Cruz Martínez - 9 años - Querétaro]]></caption>
  </image>
</juiceboxgallery>