/*trim*/
@charset "UTF-8";


:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #7464a1;
	--bs-pink: #d63384;
	--bs-red: #af1923;
	--bs-orange: #D95D41;
	--bs-yellow: #e4c662;
	--bs-green: #67c29c;
	--bs-teal: #64a19d;
	--bs-cyan: #1cabc4;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #64a19d;
	--bs-secondary: #7464a1;
	--bs-success: #67c29c;
	--bs-info: #1cabc4;
	--bs-warning: #e4c662;
	--bs-danger: #a16468;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-primary-rgb: 100, 161, 157;
	--bs-secondary-rgb: 116, 100, 161;
	--bs-success-rgb: 103, 194, 156;
	--bs-info-rgb: 28, 171, 196;
	--bs-warning-rgb: 228, 198, 98;
	--bs-danger-rgb: 161, 100, 104;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 33, 37, 41;
	--bs-black-rgb: 0, 0, 0;
	--bs-white-rgb: 255, 255, 255;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-font-sans-serif: system-ui, -apple-system, Work Sans, sans-serif;
	--bs-font-cursive: system-ui, -apple-system, Pangolin, sans-serif;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: Work Sans, sans-serif;
	--bs-body-font-size: 1.45rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.6;
	--bs-body-color: #212529;
	--bs-body-bg: #fff;
  }


@font-face {
	font-family:"mclaren-regular";
	src:url("../assets/fonts/mclaren-regular-webfont.ttf") format("truetype"),
	url("../assets/fonts/mclaren-regular-webfont.eot") format("emmbedded-opentype"),
	url("../assets/fonts/mclaren-regular-webfont.woff") format("woff"),
	url("../assets/fonts/mclaren-regular-webfont.svg") format("svg");
}

@font-face {
	font-family:"gregh";
	src:url("../assets/fonts/gregh__-webfont.ttf") format("truetype"),
	url("../assets/fonts/gregh__-webfont.eot") format("emmbedded-opentype"),
	url("../assets/fonts/gregh__-webfont.woff") format("woff"),
	url("../assets/fonts/gregh__-webfont.svg") format("svg");
}



html {
        /*
    MAIN COLORS
    color: #CC9D4B;
    color: #F9EACD;
    color: #FDF7EB;

    PURPLE CARD
    color: #5F3F64;
    color: #9C899F;

    GREEN CARD
    color: #6AC6AF;
    color: #A3DCCD;

    ORANGE CARD
    color: #E2B653;
    color: #F0D9A5;

    EXTRAS
    color: #BCA495;
    color: #F0D9A5;
    color: #F0D9A5;

    color: #E6EFEC;
    color: #4F7F70;
    color: #165947;

    color: #B1A298;
    color: #634531;
    */
    background-color: #A3CB59;
    background-color: #FDF7EB;
    background-image: url(../_imgs/misc-imgs/A.jpg);
}
html, body {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}

body {
    color: #bca495;
    /*background-color: #a3cb59;*/
    background-position: right top;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ================================================================ */
/* main holder */
/* ---------------------------------------------------------------- */
.appHolder {
    border-radius: 8px;
    margin: 120px auto 0 auto;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*background-color: orange;*/
    position: relative;
    padding: 24px 24px 24px 90px;
    width: 1190px;
    /*border: 4px solid white;*/
    /*box-sizing: border-box;*/
    font-family: mclaren-regular !important;
}
.appHolder.playing {
    background-color: rgba( 255,255,255,0.5);
    box-shadow: 0 3px 24px #aaa;
}
.appHolder * {
    /*font-family: 'McLaren', cursive;*/
}


/* ================================================================ */
/* Loader */
/* ---------------------------------------------------------------- */
.appHolder .loader {
    /*background-color: crimson;*/
    /*background-color: cornflowerblue;*/
    display: block;
    display: none;
    margin: 0 auto;
}

/* ================================================================ */
/* view-title */
.view-title {
    color: #777;
    text-transform: uppercase;
    text-align: center;
}
/* ---------------------------------------------------------------- */

/* ================================================================ */
/* Misc */
.cf {
    display: block;
    clear: both;
    position: relative;
}
/* ---------------------------------------------------------------- */


#footer-invisible{
    display: none;
}