<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(35,56,66,1)"
	indexPageName="6.html"

>
  <image imageURL="images/1-6.jpg"
	thumbURL="thumbs/1-6.jpg"
	linkURL="images/1-6.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/ganadores/6/1-6.jpg">
    <title><![CDATA[1er LUGAR “Púrpura primavera”]]></title>
    <caption><![CDATA[Emilio Assad Olivos - 7 años - CDMX]]></caption>
  </image>
  <image imageURL="images/2-6.jpg"
	thumbURL="thumbs/2-6.jpg"
	linkURL="images/2-6.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/ganadores/6/2-6.jpg">
    <title><![CDATA[2do LUGAR  “Frutos de mi madre sierra”]]></title>
    <caption><![CDATA[Clara Fernanda García Primo - 6 años - Oaxaca]]></caption>
  </image>
  <image imageURL="images/3-6.jpg"
	thumbURL="thumbs/3-6.jpg"
	linkURL="images/3-6.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/LaCie 3TB/adoming/Documents/web_conabio2016/azulyverde/galeria/ganadores/6/3-6.jpg">
    <title><![CDATA[3er LUGAR  “El Tucán”]]></title>
    <caption><![CDATA[Shelby Faviola Gil Lucas - 7 años - Quintana Roo]]></caption>
  </image>
</juiceboxgallery>