@charset "utf-8";
/* CSS Document */

body{
	position: relative;
}

.margen{
	position: relative;
}

.fondoimg{
	width: 100%;
	margin: 0;
}

.fondoimg img{
	width: 100%;
	height: auto;
}
.timportante{
	color: #0b253e;
	width: 400px;
}

.animales{
	background: rgba(0,0,0,0);
	cursor: pointer;
}

p{
	color: #FFF;
	font-size: 18px;
	width: 400px;
	display: inline-block;
}
.textoecosistemas{
	margin-top: 180px;
	width: 700px;
	color: #33866C;
}
section{
	overflow: hidden;
}

/*MODAL*/
#modal{
	display: none;
	width: 900px;
	height: 430px;
	top: 30%;
	left: 15%;
	background-color: rgba(0,0,0,0.6);
	z-index: 9999;
	position: fixed;

}
.back {
	width: 40px;
	height: 40px;
	background-image: url(../assets/img/iconoscerrar.png);
	background-size: auto 100%;
	z-index: 10;
	right: -8px;
	position: absolute;
	top: -9px;
	cursor: pointer;
}
.modalfoto img{
	width: 400px;
	height: 392px;
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.modalNombre{
	color:#FFF;
	display:inline-block;
	position:relative;
	float:left;
	margin-top:33px;
}
.modalTexto{
	color: #FFF;
	position: relative;
	display: inline-block;
	margin-top: 0px;
}
.modalVideo{
	width: 320px;
	height: 240px;
	margin: -363px auto;
	background-color: rgba(0,0,0,0.0);
	border: 0px solid #000;
	position: relative;
	display: none;
}

.modalVideo video{
	position: absolute;
	width: 320px;
	height: 240px;
	margin: 0px auto;
	cursor: move;
}

.modalbtn{
	width: 400px;
	position: absolute;
	display: block;
	margin: 0px auto;
	height: 38px;
	bottom: 0px;
	background-color: #15774e;
	left: 0px;
	border-top: 5px solid;
}
.modalbtn ul {
	float: none;
	list-style-image: none;
	list-style-type: none;
}
.modalbtn ul li {
	background-image: url('../assets/img/iconosmultimedia.png');
	background-repeat: no-repeat;
	float: left;
	margin: 0px;
	position: absolute;
	bottom: 2px;
	width: 40px;
	height: 39px;
	left: 10px;
}
.modalbtn ul li a{
 	 width: 100%;
 	 height: 100%;
 	 display: block;
}
.modalbtn ul li#maudio {
 	 background-position: -46px 0px;
}
.modalbtn ul li#mvideo {
 	background-position: -82px -60px;
	width: 57px;
	left: 52px;
}
.modalbtn ul li#msonido {
 	background-position: -37px -59px;
	width: 50px;
	left: 105px;
}

.modalbtn ul li#mlibro {
	background-image:url(../assets/img/libros.png);
	width: 57px;
	left: 112px;
}

.modalbtn ul li#maudio:hover {
 	 background-position: 0px 0px;
}
.modalbtn ul li#mvideo:hover {
 	background-position: -82px 2px;
	width: 57px;
	left: 52px;
}

.modalbtn ul li#mlibro:hover {
	background-image:url(../assets/img/libros_over.png);
	width: 57px;
	left: 112px;
}

.modalbtn ul li#msonido:hover {
 	background-position: 10px -59px;
	width: 57px;
	left: 105px;
}

#overlay{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 9000;
}

/*MODAL*/

.verdesText {
	position: relative;
	text-align: center;
	line-height: 23px;
	font-size: 20px;
	padding-top: 10%;
	color: #0B4647;
	width: 700px;
}

.logo {
    width: 100%;
    height: auto;
    background-image: url("assets/img/logoinvasoras.png");
    margin-top: -17%;
	position: relative;
    background-size: 100%;
    left: 12%;
}


/*invasoras*/
#invasoras{
	margin: 0;
	padding-top: 300px;
	background-color: #bcd8ca;
	position: relative;
}

#invasoras img{
	width: 100%;
}

#invasoras .margen article{
	margin: 0 auto;
	width: 600px;
	height: auto;
	position: relative;
}

#invasoras h2{
	color: #c0dcd0;
	width: 200px;
	height: auto;
	position: relative;
}

/*#invasoras .margen article img{
	display: inline-block;
	position: absolute;
	z-index: 650;
	width: 600px;
}*/

#rutas{
	margin-top: 500px;
	bottom: 0;
	position: absolute;
	z-index: 3000;
	width: 100%;
}

#polizon{
	position: absolute;
	top: 12%;
	right: 38%;
	width: 8%;
	height: 6%;
}
#puentes{
	position: absolute;
	top: 27%;
	right: 77%;
	width: 8%;
	height: 8%;
}
#dispersion{
	position: absolute;
	top: 26%;
	right: 22%;
	width: 8%;
	height: 6%;	
}
#economia{
	position:absolute;
	top: 45%;
	right: 38%;
	width: 8%;
	height: 5%;
}
#ecosistema{
	position: absolute;
	top: 50%;
	right: 78%;
	width: 9%;
	height: 7%;
}
#sanitario{
	position: absolute;
	top: 57%;
	right: 27%;
	width: 6%;
	height: 5%;
}
#social{
	position: absolute;
	top: 59%;
	right: 56%;
	width: 7%;
	height: 5%;
}
#liberacion{
	position:absolute;
	top: 79%;
	right: 39%;
	width: 7%;
	height: 5%;
}
#biodiversidad{
	position: absolute;
    top: 86%;
    right: 48%;
    width: 7%;
    height: 5%;
}
#escape{
	position: absolute;
	top: 70%;
	right: 28%;
    width: 7%;
    height: 5%;
}
#toxico{
	position: absolute;
	top: 49%;
	right: 57%;
	width: 7%;
	height: 5%;
}
#fondoinvasoras img{
	margin-top: 1px;
	width: 100%;
	height: auto;
	bottom: 0;
	position: relative;
}

#layer0invasoras{
	position: absolute;
	margin-top: -500px;
	z-index: 500;
	width: 100%;
}

#layer2selva{
	position: absolute;
	z-index: 660;
	width: 80%
}

#layer2selva img{
	bottom: 0;
	transform: translateX(-20%);
	-webkit-transform: translateX(-20%);
	-o-transform: translateX(-20%);
	-moz-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
	position: absolute;
	width: 50%;
}

#layer2_2selva{
	position: absolute;
	z-index: 660;
	width: 80%
}

#layer2_2selva img{
	bottom: 0;
	transform: translateX(160%);
	-webkit-transform: translateX(160%);
	-o-transform: translateX(160%);
	-moz-transform: translateX(160%);
	-ms-transform: translateX(160%);
	position: absolute;
	width: 50%;
}

/*bosquenublado*/
#bosquenublado{
	margin: 0;
	padding-top: 400px;
	background-color: #C29484;
	position: relative;
}
#bosquenublado p{
	color: #FFF;
}
/*#bosquenublado img{
	width: 100%;
}
*/
#bosquenublado .margen article{
	margin: 0 auto;
	width: 600px;
	position: relative;
}

#bosquenublado h2{
	color: #FFF;
	margin: 0;
}

#bosquenublado .margen article img{
	display: inline-block;
	position: absolute;
	z-index: 100;
	width: 300px;
}
#animalesbosquenublado{
	margin-top: 500px;
	bottom: 0;
	position: absolute;
	z-index: 3000;
	width: 100%;
}
#fondobosquenublado img{
	margin-top: 500px;
	width: 100%;
	height: auto;
	bottom: 0;
	position: relative;
	z-index: 2000;
}
#nube22{
	position: absolute;
	top: 47px;
	right: 10%;
	width: 80%;
	display: block!important;
	z-index: 5000;
}
#nube2{
	position: absolute;
	top: 547px;
	right: -3%;
	width: 80%;
	display: block!important;
	z-index: 5500;
}
#nube3{
	position: absolute;
	top: 4099px;
	right: 50px;
	width: 80%;
	display: block!important;
	z-index: 6500;
}
#quetzal{
	position: absolute;
	top: 38%;
	right: 50%;
	width: 6%;
	height: 21%;
}
#osohormiguero{
	position: absolute;
	top: 69%;
	right: 36%;
	width: 10%;
	height: 9%;
}
#pavon{
	position: absolute;
	top: 21%;
	right: 26%;
	width: 12%;
	height: 22%;
}
#aracari{
	position: absolute;
    top: 23%;
	right: 41%;
	width: 5%;
	height: 10%;
}
#cometa{
	position: absolute;
    top: 39%;
	right: 39%;
	width: 5%;
	height: 9%;
}
#tigrillo{
	position: absolute;
   	top: 69%;
	right: 22%;
	width: 10%;
	height: 21%;
}
#magnolia{
	position: absolute;
   top: 58%;
	right: 39%;
	width: 10%;
	height: 11%;
}
#viejo{
	position: absolute;
    top: 85%;
	right: 41%;
	width: 11%;
	height: 9%;
}
#tlaconete{
	position: absolute;
	top: 77%;
	right: 61%;
	width: 11%;
	height: 8%;
}
#nauyaca{
	position: absolute;
   top: 60%;
	right: 55%;
	width: 11%;
	height: 10%;
}
#bromelian{
	position: absolute;
  	top: 36%;
	right: 64%;
	width: 9%;
	height: 22%;
}
#helecho{
	position: absolute;
    top: 47%;
	right: 13%;
	width: 12%;
	height: 24%;
}
/*bosquenublado*/


/**@media all and (min-width : 1181px ){
	
	.verdesText {
		font-size: 18px;
		width: 700px;
		left: -10%;
		margin-top: -30%; 
	}
	.logo {
		width: 100%;
		height: auto;
		left: 5%;
	}
	#nube2 {
		top: 9%;
		left: 71%;
	}
}
*/


/*#puntos a title{
	font-family:mclaren-regular;
	font-size:18px;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}

.ui-tooltip {
	font-family:mclaren-regular;
	font-size:18px;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	font-family:mclaren-regular;
	border-width: 2px;
	background-color:#E0DDD1;
	color:#2D2713;
	border-color:#2D2713;
	box-shadow: 0 0 5px #aaa;
	max-width: 600px;
}*/
