html {
    /*
    MAIN COLORS
    color: #CC9D4B;
    color: #F9EACD;
    color: #FDF7EB;

    PURPLE CARD
    color: #5F3F64;
    color: #9C899F;

    GREEN CARD
    color: #6AC6AF;
    color: #A3DCCD;

    ORANGE CARD
    color: #E2B653;
    color: #F0D9A5;

    EXTRAS
    color: #BCA495;
    color: #F0D9A5;
    color: #F0D9A5;

    color: #E6EFEC;
    color: #4F7F70;
    color: #165947;

    color: #B1A298;
    color: #634531;
    */
    background-color: #A3CB59;
    background-color: #FDF7EB;
    background-image: url(../_imgs/misc-imgs/C.jpg);
    background-position: right top;
    background-size: cover;
    -webkit-background-size: cover;
    /*background-repeat: no-repeat;*/
}
html, body {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}

body, body * {
    /*font-family: Calibri, Arial;*/
    /*font-family: 'McLaren', cursive;*/
}
/* ================================================================ */
/* main holder */
/* ---------------------------------------------------------------- */
.appHolder {
    border-radius: 8px;
    margin: 120px auto 0 auto;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    padding: 24px;
    width: 1250px;
    /*border: 4px solid white;*/
    /*box-sizing: border-box;*/
}
.appHolder.playing {
    background-color: rgba( 255,255,255,0.5);
    box-shadow: 0 3px 24px #aaa;
}

/* ================================================================ */
/* Loader */
/* ---------------------------------------------------------------- */
.appHolder .loader {
    /*background-color: crimson;*/
    /*background-color: cornflowerblue;*/
    display: block;
    display: none;
    margin: 0 auto;
}

/* ================================================================ */
/* view-title */
.view-title {
    font-family: 'McLaren', cursive !important;
    color: #634531;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin: 0;
}
/* ---------------------------------------------------------------- */

/* ================================================================ */
/* Misc */
.cf {
    display: block;
    clear: both;
    position: relative;
}

/* ---------------------------------------------------------------- */


h2.view-title{
    font-family: Pangolin, sans-serif !important;
    font-style: normal !important;
}
.setup-board h3{
    font-family: Pangolin, sans-serif !important;
    font-style: normal !important;
}
.guess-lists-holder .guess-notifications-list * {
    font-family: Pangolin, sans-serif !important;
    font-style: normal !important;
}


#footer-invisible{
    display: none;
}