section {
	width: 100%;
	height: auto;
}

.fondojp{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

h2 {
	background-image: url("../assets/img/banderavv.png");
	font-family: 'Architects Daughter', cursive;
	position: absolute;
	width: 200px;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 50px;
	line-height: 54px;
	font-size: 19px;
	padding-left: 30px;
	color: #FFF;
	font-weight: 100;
	left: -160px;
	top: 30px;
}
.titulo{
	position: relative;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    text-align: center;
    color: #c41a7b;
}

.fuentes{
	text-decoration: none;
	color:#FFFFFF;
}

#sec1 {
	background-image: url(../assets/img/sec1_bn.jpg);
	margin-top: 81px;
	overflow: hidden;
}

#sec1 h2 {
	top: 44%;
}

.introText {
	position: relative;
	text-align: center;
	font-size: 17px;
	font-size: 1.5vw;
	padding-top: 13%;
	color: #021B12;
	line-height: 21px;
}
.introText p{
	width: 600px;
	position: relative;
	text-align: center;
	margin: auto;
}
.botonesjp {
	width: 20%;
	height: 30%;
	background-image: url("../assets/img/botonesjp_01.png");
	margin-top: 1%;
	position: absolute;
	background-size: 100% auto;
	left: 51%;
	margin-left: -10.5%;
	background-repeat: no-repeat
}
.overlink {
	width: 20%;
	height: 100%;
	display: inline-block;
}
.greentext {
	color: #006441;
	font-size: 18px;
}

#dato1 {
	background-image: url("../assets/img/dato1.png");
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 70%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#flor {
	background-image: url("../assets/img/flor.png");
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 10%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#dato2 {
	background-image: url("../assets/img/dato2.png");
	width: 250px;
	height: 150px;
	position: absolute;
	top: 280%;
	left: 20%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#colibri {
	background-image: url("../assets/img/colibri.png");
	width: 100px;
	height: 100px;
	position: absolute;
	top: 260%;
	left: 20%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#dato3 {
	background-image: url("../assets/img/dato3.png");
	width: 250px;
	height: 200px;
	position: absolute;
	top: 140%;
	left: 60%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#bolas {
	background-image: url("../assets/img/bolas.png");
	width: 350px;
	height: 350px;
	position: absolute;
	top: 130%;
	left: 40%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}


#sec2 {
	background-image: url(../assets/img/sec2_bn.jpg);
}

#sec2 h2 {
	top: 5%;
}

#sec3 {
	position: relative;
	width: 100%;
	height: 140%;
	background-image: url(../assets/img/sec3_bn.jpg);
}

#sec4 {
	background-image: url(../assets/img/sec4_bn.jpg);
}
#sec5{
}

#sec6{
	background-color: #c41a7b;
	padding-top: 50px;
	padding-bottom: 30px;
	height: 1055px !important;
}
#sec6 p{
	color: #FFFFFF;
}
.dayimg {
	width: 100%;
	height: 100%;
	position: absolute;
}
.logo {
	width: 33%;
	height: 21%;
	background-image: url("../assets/img/logocolor.png");
	margin-top: 3%;
	position: absolute;
	background-size: 100%;
	left: 46%;
	margin-left: -12.5%;
	background-repeat: no-repeat;
}
.logocolor {
	width: 33%;
	height: 31%;
	background-image: url("../assets/img/logocolor.png");
	margin-top: 3%;
	position: absolute;
	background-size: 100%;
	left: 43%;
	margin-left: -9.5%;
	background-repeat: no-repeat;
}
.especies {
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.mask {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
}

#modal {
	display: none;
	width: 950px;
	height: 500px;
	top: 25%;
	background-color:#FFF;
	z-index: 600;
	position: fixed;
}

.imgPol {
	width: 350px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: inline-block;
}

.descPol {
	display: inline-block;
	width: 530px;
	color: rgb(32, 31, 31);
	vertical-align: top;
	margin-left: 35px;
	margin-top: 29px;
	font-size: 20px;
}

.descPol i{
	font-size: 20px;	
	color: #c41a7b;
}

.descPol b {
	font-size: 30px;
	font-family: 'Architects Daughter', cursive;
	color: #c41a7b;
	
}

#btnCerrar {
  position: absolute;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-image: url('../assets/img/iconoscerrar.png');
  background-size: auto 100%;
  right: -17px;
  top: -18px;
}
/* sec1 */

#importante {
	position: absolute;
	top: 28%;
	left: 15%;
	width: 14%;
	height: 15%;
}

#problematica {
	position: absolute;
	top: 55%;
	right: 72%;
	width: 14.5%;
	height: 14%;
}

#jardin {
	position: absolute;
	top: 55%;
	right: 16%;
	width: 15%;
	height: 14%;
}
#especies{
	position: absolute;
	top: 31%;
	right: 18%;
	width: 15%;
	height: 14%;
}
#polinizadores{
    position: absolute;
    top: 52%;
    right: 44%;
    width: 15%;
    height: 14%;
}
#nativas {
    position: absolute;
    top: 28%;
    right: 46%;
    width: 11%;
    height: 10%;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

/* sec2 */

#tierra {
	position: absolute;
	width: 10%;
	height: 17%;
	top: 68%;
	left: 19%;
}

#agua {
	position: absolute;
	top: 76%;
	right: 30%;
	width: 11%;
	height: 20%;
}
#semillas {
	position: absolute;
	top: 79%;
	right: 47%;
	width: 11%;
	height: 20%;
}

#materiales{
	position: absolute;
	top: 17%;
	right: 15%;
	width: 11%;
	height: 46%;
}



/* sec4 */

#paso1 {
	position: absolute;
	top: 17%;
	right: 89%;
	width: 11%;
	height: 18%;
}

#paso2{
	position: absolute;
	top: 61%;
	right: 52%;
	width: 11%;
	height: 18%;
}

#paso3 {
	position: absolute;
	top: 71%;
	right: 13%;
	width: 10%;
	height: 19%;
}


/* sec5*/


/* sec6 */

@media all and (min-width: 960px) {
  .verdesText {
		font-size: 17px;
	}
	
/*	.botonesjp {
	width: 12%;
	height: 14%;
	left: 54%;
	margin-left: -10.5%;
	}*/
	.logo {
	width: 33%;
	height: 16%;
	left: 46%;
	}
	#rama {
	top: 9%;
	left: 71%;
	}
}

.banderav {
	height: 41px;
	width: 87px;
	position: fixed;
	right: 0px;
	background-image: url("../assets/img/banderasvecinos.png");
	background-size: 95px auto;
	background-repeat: no-repeat;
	z-index: 500;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	display: none;
}

.banderav a {
	display: block;
	height: 41px;
	width: 87px;
}

#biodiversidad {
	top: 180px;
	background-position: 25px -3px;
}

#ninos{
	top: 220px;
	background-position: 25px -49px;
}

#enciclovida {
	top: 262px;
	background-position: 25px -97px;
}

#naturalista {
	top: 305px;
	background-position: 25px -144px;
}


#biodiversidad:hover{
	background-position: 0px -3px;
}

#ninos:hover{
	background-position: 0px -49px;
}

#enciclovida:hover{
	background-position: 0px -97px;
}

#naturalista:hover{
	background-position: 0px -144px;
}

#video {
	position: relative;
	width: 100%;
	height: 100%;
	right: auto;
	left: 15%;
	top: 10%;
	bottom: auto;
}