.margen{
	width:800px;
	margin:0 auto;
	position:relative;
}

header nav#menuMateriales {
	position:absolute;
	right: 32px;
	top:81px;
}

footer strong{
	position: absolute;
	top: 7px;
	right: 35px;
	color: #FFF;
	width: 384px;
	font-size: 16px;
}

footer p{
	position: absolute;
	top: 50px;
	right: 20px;
	color: #9fca63;
	font-size: 11px;
	width: 400px!important;
}

.barraExtra {
    bottom: -10px;
	z-index: 8000;
}

